<div class="container-fluid">
    <div class="row p-5">
        <div class="col-6 align-self-center">
            <h4 class="lora font-weight-bold font-black font40">Career Progression</h4>
            <p class="font-black">Give the superpower to your frontline team members.
                Digitise career progressions, track growth and increase effectiveness right away.
            </p>
            <button class="green-btn">SCHEDULE A DEMO</button>
        </div>
        
        <div class="col-6">
            <img src="../assets/images/specific_feature/image-1.png" class="img-fluid" alt="image">
        </div>
    </div>
    

    <div class="bg-white">
        <div class="row p-5">
            <div class="col-6 pr-5">
                <img src="../assets/images/specific_feature/image-2.png" class="img-fluid" alt="image">
            </div>

            <div class="col-6">
                <h5 class="lora font-weight-bold font-black mb-3 font32">Customise Career Journey</h5>
                <p class="mb-0">Exceling from one role to another would need you to assess the skills mastered by your team members. And to do so, you need to create a career journey, which includes learning materials, classroom or virtual training, approvals of skills as checklists by managers/store managers/leads etc. With Frontlyne, you can digitise the career journey within a few minutes for all job roles and involve employees to be a part of their own progression.</p>
            </div>
        </div>

        <div class="row p-5 custom-background1">
            <div class="col-4">
                
            </div>

            <div class="col-8">
                <h5 class="lora font-weight-bold font-black mb-3 font32">Automated Career Progression</h5>
                <p class="mb-0">Built using research, frameworks, feedback from top Training and L&D Heads of various companies and cutting edge technology, this feature can help you design a career path with relevant skills, learnings, training and on the job evaluations for every job role within a few minutes. And it’s editable as per your requirements.</p>
            </div>
        </div>

        <div class="row p-5">
            <div class="col-6 pr-5">
                <h5 class="lora font-weight-bold mb-3 custom-heading1 font32">Save Cost</h5>
                <p class="mb-0 font18 custom-heading1">Exceling from one role to another would need you to assess the skills mastered by your team members. And to do so, you need to create a career journey, which includes learning materials, classroom or virtual training, approvals of skills as checklists by managers/store managers/leads etc. With Frontlyne, you can digitise the career journey within a few minutes for all job roles and involve employees to be a part of their own progression.</p>
            </div>

            <div class="col-6">
                <img src="../assets/images/specific_feature/image-2.png" class="img-fluid" alt="image">
            </div>
        </div>

        <div class="row p-5">
            <div class="col-6 pr-5">
                <img src="../assets/images/specific_feature/image-2.png" class="img-fluid" alt="image">
            </div>

            <div class="col-6">
                <h5 class="lora font-weight-bold font-black mb-3 font32">Manage Attrition</h5>
                <p class="mb-0">Frontline employees leaving for a few bucks is a known aspect but research has proven that attrition with regards to pay gap can be achieved by showing a clear career path to grow and eventually make more money. With Frontlyne, digitizing career progression can help you known the high and low potential employees to manage attrition better. </p>
            </div>
        </div>

        <div class="row p-5">
            <div class="col-6 pr-5">
                <h5 class="lora font-weight-bold mb-3 custom-heading1 font32">Trust on Data</h5>
                <p class="mb-0 font18 custom-heading1">With data now being digital and performance management being the team member’s responsibility, the data comes with ZERO bias. Analyse the data and make informed decisions when promoting key performers, also create and assign action plans to focus on the areas of development for the other team members.</p>
            </div>

            <div class="col-6">
                <img src="../assets/images/specific_feature/image-2.png" class="img-fluid" alt="image">
            </div>
        </div>

        <div class="row p-5 custom-background1">
            <div class="col-4">
                
            </div>

            <div class="col-8">
                <h5 class="lora font-weight-bold font-black mb-3 font32">Automated Career Progression</h5>
                <p class="mb-0">Built using research, frameworks, feedback from top Training and L&D Heads of various companies and cutting edge technology, this feature can help you design a career path with relevant skills, learnings, training and on the job evaluations for every job role within a few minutes. And it’s editable as per your requirements.</p>
            </div>
        </div>

        <div class="row p-5 bggreen-footer">
            <div class="col-6 text-white align-self-center">
               <p class="lora font32">We would love to help you Digitise Performance Management of your Frontline Teams.</p>
               <button class="white-btn border-0" routerLink="talktous">TALK TO US </button>
            </div>
    
            <div class="col-6">
                <img src="../assets/images/Features/image-8.png" class="img-fluid" alt="image">
            </div>
        </div>
    </div>
    
  
</div>