.p-text{
    font-weight: bold;
}
.text-fit-place{
    bottom: 0px;
}

.box-shadow{
    width: 100%;
    padding: 15px 10px 0px 10px;
   background:  linear-gradient(180deg, rgba(51, 51, 51, 0) 0%, 
   rgba(51, 51, 51, 0.02) 0.01%, rgba(51, 51, 51, 0.7) 34.9%, #333333 100%);
  }
  .clickable-text{
    float: right;
  }
  
  