<div class="container-fluid">
    <div class="row pt-5">
        <div class="col-6 text-dark p-5 ">
            <div class="custombg-color text-dark pt-5 pb-5">
                <p class="p-text lora heading-text mt-3">Store Sales Automation
                </p>
                <p class="subheading-text">Digitise sales now. Store all your sales numbers in a single place.
                </p>
                <button class="btn btn-secondary text-uppercase pl-4 pr-4 radius-shape blue-btn mt-5 mb-5">Schedule a
                    demo</button>
            </div>
        </div>
        <div class="col-6 ">
            <img src="../assets/images/Features/sf3img.png" class="img-fluid" alt="image">
        </div>
    </div>
    <div class="row p-5">
        <div class="col-6 ">
            <img src="../assets/images/Features/sp_holder.png" class="img-fluid" alt="image">
        </div>
        <div class="col-6 p-5">
            <div class="custombg-color text-dark pt-5 pb-5">
                <p class="sf_Title-text lora">Trust in Numbers</p>
                <p class="sf_subTitle-text">Digitise and manage all the sales numbers in one place. Analyse this data to
                    make all your sales-based decisions, such as comparing sales between stores, comparing between
                    dates, comparing between particular time and much more.
                </p>
            </div>
        </div>
    </div>
    <div class="row bg-red ">
        <div class="col-3 bg-lightred">

        </div>
        <div class="col-9 p-5">
            <div class="text-white pt-5 pb-5">
                <p class="sf_Title-text lora">Grow Revenue</p>
                <p class="sf_subTitle-text">Driving revenue would need strategic planning and execution. While you plan,
                    leave the management of numbers and analysis of the data to us. Get a bird’s eye view of your data
                    and execute your strategy to obtain desired outcome without a huge data lake.
                </p>
            </div>
        </div>
    </div>
    <div class="row p-5">
        <div class="col-6 ">
            <div class="text-dark p-5">
                <p class="sf_Title-text lora">Create Incentive Plans</p>
                <p class="sf_subTitle-text">With a better incentive plan comes better success. A graphical
                    representation of huge data in simple ways lets you understand the trends and patterns to create
                    effective and realistic sales incentive plans.
                </p>
            </div>
        </div>
        <div class="col-6 p-5">
            <img src="../assets/images/Features/sp_holder.png" class="img-fluid" alt="image">
        </div>
    </div>
    <div class="row bg-brown ">
        <div class="col-3 bg-lightbrown">

        </div>
        <div class="col-9 p-5">
            <div class="text-white p-5">
                <p class="sf_Title-text lora">Workforce Management</p>
                <p class="sf_subTitle-text">Access all your sales data at your fingertips and plan your store’s
                    workforce as per the need of the hour and not by your instinct. Get the right and adequate amount of
                    people to help you drive sales and serve your customers better.
                </p>
            </div>
        </div>
    </div>
    <div class="row p-5">
        <div class="sf_Title-text lora text-dark pt-5 pb-4">Read articles related to this Feature</div>
        <div class="col-4">
            <div class="titleimg  position-relative">
                <!-- <img src="../assets/images/Features/artical_title.png" class="img-fluid shadow custom_border-radius" alt="image">-->
                <div class=" box-shadow position-absolute text-fit-place">
                    <p class=" subheading-text  text-white pt-1 d-inline-block">Article Title</p>
                    <a href="#" class=" text-white text-decoration-none pt-2 d-inline-block clickable-text">Read <span
                            class="forword-icon"></span></a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="titleimg  position-relative">
                <!-- <img src="../assets/images/Features/artical_title.png" class="img-fluid shadow custom_border-radius" alt="image">-->
                <div class=" box-shadow position-absolute text-fit-place">
                    <p class=" subheading-text  text-white pt-1 d-inline-block">Article Title</p>
                    <a href="#" class=" text-white text-decoration-none pt-2 d-inline-block clickable-text">Read <span
                            class="forword-icon"></span></a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="titleimg  position-relative">
                <div class=" box-shadow position-absolute text-fit-place">
                    <p class=" subheading-text  text-white pt-1 d-inline-block">Article Title</p>
                    <a href="#" class=" text-white text-decoration-none pt-2 d-inline-block clickable-text">Read <span
                            class="forword-icon"></span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="border-top border-secondary"></div>

    <div class="row p-5">
        <div class="col-7 text-right">
            <p class="font-blue text-uppercase sf_subTitle-text">Automate Career Progression </p>
        </div>
        <div class="col-1 text-center">
            <div class="blue_arrow"></div>
        </div>
        <div class="col-4 text-left">
            <p class="uppercase sf_subTitle-text">Learning Management System</p>
        </div>
    </div>

    <div class="row bg-blue p-5 mt-3">
        <div class="col-6 d-flex align-content-between  flex-wrap">
            <div class="custombg-color text-white pt-5 pb-5">
                <p class="l-text4 pt-3 pb-3">We would love to help you Digitise Performance Management of your Frontline
                    Teams</p>
                <button class="btn btn-light border text-uppercase  pl-4 pr-4 radius-shape mt-3 mb-3">TRY A
                    DEMO</button>
            </div>
        </div>
        <div class="col-6 text-center">
            <img src="../assets/images/Features/featureCharacter.png" class="img-fluid" alt="image">
        </div>
    </div>


</div>