<div class="container-fluid">
    <div class="row p-5 pb-0 text-center">
        <div class="col-12 font-black">
            <h3 class="font48 lora font-weight-bold">Talk to us</h3>
            <div class="heading-text">
                <p>If you’ve got any questions for us, orif you want to know how Frontlyne can help ease your process,</p>
            </div>
            <h6 class="poppins subheading-text">Feel free to get in touch with us <span class="custfont-color">right away</span> <span class="drop-arrow"></span></h6>
        </div>
    </div>

    <div class="row p-5 custbg-color1">
        <div class="col-12">
            <h4 class="font40 font-weight-bold lora text-center">Here’s what you are in for</h4>
            <p class="text-center poppins subheading-text">You will be connected with Ronald Joseph, our founder, for about a 30 - 45 minutes conversation.</p>

            <div class="text-block p-3 w-75 m-auto">
                <h5 class="font-blue">The agenda of this call would be to:</h5>
                <ul>
                    <li>Understand your current pain points with regards to managing overall management of your frontline workforce</li>
                    <li>Suggest if Frontlyne is the best suited solution for your problems</li>
                    <li>Discuss your configuration needs and understand if we can aid to your requests</li>
                    <li>Address any concerns related to our product and services</li>
                </ul>
            </div>
            
        </div>
    </div>

    <div class="row p-3 w-75 m-auto">
        <h4 class="font-weight-bold lora font40 text-center">Go ahead and schedule a call to get all your questions answered.</h4>
        
        <div class="d-table w-100 calendar-container">
            <div class="d-table-cell p-3 bg-blue calendar-block">
                 <p class="poppins small-size text-white">Demo will be assisted by</p>
                <ngb-datepicker class="bg-blue" #d1 [(ngModel)]="model1" #c1="ngModel" style="background-color: #595AD4;"></ngb-datepicker>
            </div>

            <div class="d-table-cell bg-white time-block">
                <div class="timer-block p-3">
                    <p class="poppins font-black font18">What time works best?</p>
                    <p class="font-green poppins small-size">UTC +05:30  Asia/Kolkata <span class="down-arrow"></span></p>
    
                    <button class="demo-btn mb-2 font-black font font18 d-block">10:00am to 10:15am</button>
                    <button class="demo-btn mb-2 font-black font font18 d-block">7:00pm to 7:15pm</button>
                    <button class="demo-btn font-black font font18 d-block">8:00pm to 8:15pm</button>
    
                    <!-- <button class="demo-btn font-black font font18 d-inline-block w-auto float-right mt-5">Next</button> -->
    
                </div>
            </div>
        </div>
    </div>

    <div class="row p-5 bggreen-footer">
        <div class="col-6 text-white align-self-center">
           <p class="lora font32">We would love to help you Digitise Performance Management of your Frontline Teams.</p>
           <button class="white-btn border-0">TALK TO US </button>
        </div>

        <div class="col-6">
            <img src="../assets/images/Features/image-8.png" class="img-fluid" alt="image">
        </div>
    </div>

</div>

