.custfont-color{color: #00CA72;}
.drop-arrow{background-image: url("../../assets/images/global/drop-arrow.png"); height: 8px; width: 12px; display: inline-block; vertical-align: middle;}
.text-block{border: 2px solid #333333; border-radius: 24px; box-shadow: 7px 7px #595AD4;}
.custbg-color1{background-color: #F8F8F8;}
.demo-btn{background-color: #fff; border-radius: 8px; border: 1px solid #E0E0E0; color: #323338; padding: 10px; width: 100%;}
.calendar-container{box-shadow: 0px 15px 50px rgba(51, 51, 51, 0.3); border-radius: 16px; padding: 0;}
.calendar-block{border-radius: 16px 0 0 16px;}
.time-block{border-radius: 0px 16px 16px 0px;}