.heading_block{width: auto;}
.no-underline{text-decoration: none;}
.text-gray{color: #999999;}
.bg-footer{background-image: url("../../assets/images/Features/footer.png"); background-color: rgba(89, 90,212,0.8) !important}