<div class="container-fluid">
    <div class="row p-5 pb-0 text-center heading_block">
        <div class="col-12 mt-5 mb-5">
			<div class="heading-text">
				<p class="m-0"> The <b class="font-blue"> Ultimate Performance Management?</b> for Retail Frontline Teams</p>
			</div>
			
            <div class="mb-5 mt-3">
                <button class="mt-4 mr-4 green-btn" routerLink="">SCHEDULE A DEMO</button>
                <button class="white-btn" routerLink="">TALK TO US </button>
            </div>
        </div>
    </div>


    <div class="row p-5 bg-red">
        <div class="col-6">
            <img src="../assets/images/Features/image-1.png" class="img-fluid" alt="image">
        </div>

        <div class="col-6 align-self-center text-white">
            <h3 class="lora font-weight-bold font40">Automate Career Progression</h3>

           <p class="mb-0 poppins font24 text_block">Digitise your frontline team member’s career progression plan within a few hours and go digital. No more usage of paper pencil, excel sheets, and multiple applications. </p>
           
           <div class="d-flex pt-5 pb-3">
                <div class="mr-auto p-2">
                    <a href="javascript:void(0);" routerLink="/sf1" class="text-white no-underline" >Read more <span class="forword-icon"></span></a>
                </div>
                <div class="p-2">
                    <button class="green-btn">SCHEDULE A DEMO</button>
                </div>
          </div>
        </div>
    </div>

    <div class="row p-5">
        <div class="col-6 align-self-center">
            <h3 class="font40 font-weight-bold font-darkblack">Digitise Learning and Training</h3>
            <p class="mb-0 font24 poppins text-gray">Use the easiest platform for your frontline team members to create self - learning material and training events within a few clicks. A one-stop solution for all your learning requirements. </p>

           <div class="d-flex pt-5 pb-3">
                <div class="mr-auto p-2">
                    <a href="javascript:void(0);" routerLink="/sf2" class="font-darkblack no-underline">Read more <span class="forword-icon"></span></a>
                </div>
                <div class="p-2">
                    <button class="green-btn">SCHEDULE A DEMO</button>
                </div>
            </div>
        </div>

        <div class="col-6">
            <img src="../assets/images/Features/image-4.png" class="img-fluid" alt="image">
        </div>
    </div>
    
    <div class="row p-5 bg-purple">
        <div class="col-6">
            <img src="../assets/images/Features/image-3.png" class="img-fluid" alt="image">
        </div>

        <div class="col-6 text-white align-self-center">
            <h3>Manage Skill Gaps</h3>
            <p class="mb-0 font24 poppins text_block">Manage and create skill charts for all the job roles, identify the gaps and fill them to help your employees grow.</p>
           
            <div class="d-flex pt-5 pb-3">
                <div class="mr-auto p-2">
                    <a href="javascript:void(0);" routerLink="/sf3" class="text-white no-underline">Read more <span class="forword-icon"></span></a>
                </div>
                <div class="p-2">
                    <button class="green-btn">SCHEDULE A DEMO</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row p-5">
        <div class="col-6 align-self-center">
           <h3 class="font-darkblack">Automate Standard Operating Processes</h3>
           <p class="mb-0 font24 poppins text-gray">Digitise and automate all processes, audits etc., on one single platform. With Frontlyne, you can make better decisions to manage inventory and processes.</p>

           <div class="d-flex pt-5 pb-3">
                <div class="mr-auto p-2">
                    <a href="javascript:void(0);" routerLink="/sf4" class="font-darkblack no-underline">Read more <span class="forword-icon"></span></a>
                </div>
                <div class="p-2">
                    <button class="green-btn">SCHEDULE A DEMO</button>
                </div>
            </div>
        </div>

        <div class="col-6">
            <img src="../assets/images/Features/image-5.png" class="img-fluid" alt="image">
        </div>
    </div>
    
    <div class="row p-5 bg-red">
        <div class="col-6">
            <img src="../assets/images/Features/image-7.png" class="img-fluid" alt="image">
        </div>

        <div class="col-6 text-white align-self-center">
            <h3>Digitise Rewards and Recognition</h3>
            <p class="mb-0 font24 poppins text_block">Recognize efforts and achievements immediately with a tool which can digitise all your reward processes in one single platform. </p>
           
            <div class="d-flex pt-5 pb-3">
                <div class="mr-auto p-2">
                    <a href="javascript:void(0);" routerLink="/sf5" class="text-white no-underline">Read more <span class="forword-icon"></span></a>
                </div>
                <div class="p-2">
                    <button class="green-btn">SCHEDULE A DEMO</button>
                </div>
          </div>
        </div>
    </div>

    <div class="row p-5">
        <div class="col-6 align-self-center">
            <h3 class="font-darkblack">Robust Visual Reporting</h3>
            <p class="mb-0 font24 poppins text-gray">Download and schedule reports as per your need to get insights on various elements with regards to performance of your frontline teams.</p>
            
           <div class="d-flex pt-5 pb-3">
                <div class="mr-auto p-2">
                    <a href="javascript:void(0);" routerLink="/sf6" class="font-darkblack no-underline">Read more <span class="forword-icon"></span></a>
                </div>
                <div class="p-2">
                    <button class="green-btn">SCHEDULE A DEMO</button>
                </div>
            </div>
        </div>

        <div class="col-6">
            <img src="../assets/images/Features/image-9.png" class="img-fluid" alt="image">
        </div>
    </div>

    

    <div class="row p-5 bg-footer">
        <div class="col-6 text-white align-self-center">
           <p class="">We would love to help you Digitise Performance Management of your Frontline Teams.</p>
           <button class="green-btn bg-white font-darkblack">TALK TO US</button>
        </div>
        <div class="col-6">
            <img src="../assets/images/Features/image-8.png" class="img-fluid" alt="image">
        </div>
    </div>
</div>