<div class="container-fluid">
  <div class="row p-5">
    <div class="col-12 line-height">
      <span>#LMS for retail industry</span>
      <span class="circle"></span>
      <span>#Certification in retail industry </span>
      <span class="circle"></span>
      <span>#Learning journey for retail employees</span>
      <span class="circle"></span>
      <span>#Skill Gap Analysis for retail</span>
      <span class="circle"></span>
      <span>#Rewards and Recognition Platform for Retail </span>
      <span class="circle"></span>
      <span>#Retail Career Journey in QSR </span>
      <span class="circle"></span>
      <span>#Retail Career Journey in Apparel</span>
    </div>
  </div>



  <div class="row p-5 border-top">
    <div class="col-5">
      <img src="../assets/images/global/logo.png" class="img-fluid" alt="image">
       <div class="row pt-4">
         <div class="col-1"> <img src="../assets/images/global/location-img.png" class="img-fluid" alt="image"></div>
         <div class="col-8 pr-5">
           <p class="pr-5">Sri Ramakrishna
            Survey No- 120/9, Plot No 3,
            Pashan – Sus Road, Pashan,
            Pune 411021 MH IN</p>
          </div>
          <div class="col-3"></div>
       </div>

       <div class="row pt-4">
        <div class="col-1"> <img src="../assets/images/global/email.png" class="img-fluid" alt="image"></div>
        <div class="col-8 pr-5">
          <p class="pr-5"> info@mgenlearn.com</p>
         </div>
         <div class="col-3"></div>
      </div>
    </div>

    <div class="col-7">
      <div class="small-size poppins d-inline-block w-40 align-top">
        <p class="gray">Frontlyne</p>
        <a class="d-block font-black mb-3" routerLink="/whyfrontlyne">Why Frontlyne ?</a>
        <a class="d-block font-black mb-3" routerLink="/knowledge">Knowledge</a>
        <a class="d-block font-black mb-3" routerLink="/pricing">Pricing</a>
        <a class="d-block font-black mb-3" routerLink="/aboutus">About Us</a>
        <a class="d-block font-black mb-3" routerLink="/contactus">Contact Us</a>
        <a>Careers <span class="bg-blue text-white font11">We’re Hiring</span></a>
      </div>
  
      <div class="small-size poppins d-inline-block w-60 align-top">
        <p class="gray">Features</p>
        <a class="d-block font-black mb-3" routerLink="/sf1">Automate Career Progression</a>
        <a class="d-block font-black mb-3" routerLink="/sf2">Digitise Learning and Training</a>
        <a class="d-block font-black mb-3" routerLink="/sf3">Digitise Sales Performance</a>
        <a class="d-block font-black mb-3" routerLink="/sf4">Automate Standard Operating Processes</a>
        <a class="d-block font-black mb-3" routerLink="/sf5">Digitise Rewards and Recognition</a>
        <a class="d-block font-black mb-3" routerLink="/sf6">Robust Visual Reporting</a>
      </div>
    </div>
    
  </div>

  <div class="row border-top p-5 pt-4 pb-4">
    <div class="col-6 poppins font18 align-self-center">
      <p class="mb-0">Copyrights @ MicroGenesis Learning 2021.</p>
    </div>

    <div class="col-6 poppins small-size align-self-center">
      <p class="d-inline-block mb-0">Terms & Conditions</p>
      <p class="d-inline-block ml-3 mb-0">Privacy Policy</p>
      <div class="d-inline-block mb-0">
        <app-socialmediaicons></app-socialmediaicons>
      </div>
    </div>
  </div>
</div>