.bold{font-weight: bold;}
.bd-footer a {
    color: #495057;
    text-decoration: none;
}

.circle{Width: 8px; Height:8px; background-color: #595AD4; border-radius: 50%; display: inline-block; vertical-align: middle; margin: 0 20px;}
.font11{font-size: 11px; border-radius: 8px; padding: 2px 3px;}
.gray{color: #BDBDBD;}
.line-height{line-height: 2rem;}
.w-40{width: 40%;}
.w-60{width: 60%;}