<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Form With JS</title>
  <link rel="stylesheet" href="./public/style.css">
</head>

<body>
  <!-- contact1 -->
  <section class="w3l-simple-contact-form1">
    <div class="contact-form section-gap">
      <div class="wrapper">
        <div class="text-center">
        <h1 style="font-size: 40px; " >Contact Us</h1>
      </div>
        <div class="contact-form" style="max-width: 450px; margin: 0 auto;">
          <div class="form-mid">
            <form method="post" action='/sendemail'>
              <div class="field">
                <input type="text" class="form-control" name="name" id="Name" placeholder="Name" required="">
              </div>
              <div class="field">
                <input type="email" class="form-control" name="email" id="Sender" placeholder="Email"
                  required="">
              </div>
              <div class="field">
                <input type="text" class="form-control" name="subject" id="Subject" placeholder="Subject"
                  required="">
              </div>
              <textarea name="message" class="form-control" id="Message" placeholder="Message"
                required=""></textarea>
              <button type="submit" class="btn btn-contact">Send Message</button>
              <!-- <input type="button" class="btn btn-contact" onclick="sendmail();"  value="Send Message"> -->

            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>
</html>