<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Form With JS</title>
  <link rel="stylesheet" href=".public/style.css">
</head>

<body>
  
    <h2>Your mail was sent</h2>
    <a class="" href="/">Back</a>
</body>
</html>