<div class="container-fluid">
    <div class="row pt-5">
        <div class="col-6 text-dark p-5 ">
            <div class="custombg-color text-dark pt-5 pb-5">
                <p class="p-text lora heading-text mt-3">Learning Management System </p>
                <p class="subheading-text">A streamlined LMS to make learning simple and effective.
                    Digitise all your learning materials on one application and make learning available on the go
                </p>
                <button class="btn btn-secondary text-uppercase pl-4 pr-4 radius-shape blue-btn mt-5 mb-5">Schedule a
                    demo</button>
            </div>
        </div>
        <div class="col-6 ">
            <img src="../assets/images/Features/sf2img.png" class="img-fluid" alt="image">
        </div>
    </div>
    <div class="row p-5">
        <div class="col-6 ">
            <img src="../assets/images/Features/sp_holder.png" class="img-fluid" alt="image">
        </div>
        <div class="col-6 p-5">
            <div class="custombg-color text-dark pt-5 pb-5">
                <p class="sf_Title-text lora">Digitise Learning</p>
                <p class="sf_subTitle-text">Upload any learning material format, be it a PPT, PDF, DOC, MP3, MP4,
                    Podcast, External Web Link or SCORM. Create engaging learning paths with the help of these materials
                    and make learning accessible in just minutes.
                </p>
            </div>
        </div>
    </div>
    <div class="row bg-red ">
        <div class="col-3 bg-lightred">

        </div>
        <div class="col-9 p-5">
            <div class="text-white pt-5 pb-5">
                <p class="sf_Title-text lora">Digitise Classroom/Virtual Training</p>
                <p class="sf_subTitle-text">Create training events for your frontline team members with ease. Send
                    invitations, track automated attendance, conduct pre and post-assessments, assign pre-reading
                    materials and more. With Frontlyne’s training functionality you can integrate virtual calling tools
                    for your virtual training.
                </p>
            </div>
        </div>
    </div>
    <div class="row p-5">
        <div class="col-6 ">
            <div class="text-dark p-5">
                <p class="sf_Title-text lora">Create Assessments and Surveys</p>
                <p class="sf_subTitle-text">Track the learning progress of every individual team member by assigning
                    assessments. Create and design assessments and surveys in various formats be it MCQs, MRQs, Video
                    Assessments, Brief Answers, Fill in the Blanks, etc., with a click of a button.
                </p>
            </div>
        </div>
        <div class="col-6 p-5">
            <img src="../assets/images/Features/sp_holder.png" class="img-fluid" alt="image">
        </div>
    </div>
    <div class="row bg-brown ">
        <div class="col-3 bg-lightbrown">

        </div>
        <div class="col-9 p-5">
            <div class="text-white p-5">
                <p class="sf_Title-text lora">Create Learning Paths</p>
                <p class="sf_subTitle-text">All your learnings may not be a single learning material, a few may be a bundle of materials when put together, so help the frontline team members utilise the platform in a smart way by assigning the right materials they need to focus on to add a spike in their learning curve.
                </p>
            </div>
        </div>
    </div>
    <div class="row p-5">
        <div class="sf_Title-text lora text-dark pt-5 pb-4">Read articles related to this Feature</div>
        <div class="col-4">
            <div class="titleimg  position-relative">
                <!-- <img src="../assets/images/Features/artical_title.png" class="img-fluid shadow custom_border-radius" alt="image">-->
                <div class=" box-shadow position-absolute text-fit-place">
                    <p class=" subheading-text  text-white pt-1 d-inline-block">Article Title</p>
                    <a href="#" class=" text-white text-decoration-none pt-2 d-inline-block clickable-text">Read <span
                            class="forword-icon"></span></a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="titleimg  position-relative">
                <!-- <img src="../assets/images/Features/artical_title.png" class="img-fluid shadow custom_border-radius" alt="image">-->
                <div class=" box-shadow position-absolute text-fit-place">
                    <p class=" subheading-text  text-white pt-1 d-inline-block">Article Title</p>
                    <a href="#" class=" text-white text-decoration-none pt-2 d-inline-block clickable-text">Read <span
                            class="forword-icon"></span></a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="titleimg  position-relative">
                <div class=" box-shadow position-absolute text-fit-place">
                    <p class=" subheading-text  text-white pt-1 d-inline-block">Article Title</p>
                    <a href="#" class=" text-white text-decoration-none pt-2 d-inline-block clickable-text">Read <span
                            class="forword-icon"></span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="border-top border-secondary"></div>

    <div class="row p-5">
        <div class="col-7 text-right">
            <p class="font-blue text-uppercase sf_subTitle-text">Automate Career Progression </p>
        </div>
        <div class="col-1 text-center">
            <div class="blue_arrow"></div>
        </div>
        <div class="col-4 text-left">
            <p class="uppercase sf_subTitle-text">Learning Management System</p>
        </div>
    </div>

    <div class="row bg-blue p-5 mt-3">
        <div class="col-6 d-flex align-content-between  flex-wrap">
            <div class="custombg-color text-white pt-5 pb-5">
                <p class="l-text4 pt-3 pb-3">We would love to help you Digitise Performance Management of your Frontline
                    Teams</p>
                <button class="btn btn-light border text-uppercase  pl-4 pr-4 radius-shape mt-3 mb-3">TRY A
                    DEMO</button>
            </div>
        </div>
        <div class="col-6 text-center">
            <img src="../assets/images/Features/featureCharacter.png" class="img-fluid" alt="image">
        </div>
    </div>


</div>