<div class=" container-fluid fixed-top bg-white pt-1 animate__animated animate__fadeInDown">
        <p class="cust-inline pl-5">Follow Us</p>
        <div class=" text-left col-size-cust ">
            <app-socialmediaicons></app-socialmediaicons>
        </div>
    <div class=" text-right cust-menu-box pr-5 cust-inline">
        <a class="topnav text-dark no-underline p-3 mr-3" routerLink="/aboutus">About Us</a>
        <a class="topnav text-dark no-underline" routerLink="/contactus">Contact Us</a>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-expand-md navbar-light bg-white fixed-top bg-light container-fluid menu-top-space animate__animated animate__fadeInDown border-top" data-offset-top="197">
    <a class="navbar-brand logoicon" href="#"></a>
    
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
	
	  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/whyfrontlyne">Why Frontlyne? <span class="sr-only">(current)</span></a>
        </li>
		
        <li class="nav-item">
          <a class="nav-link" routerLink="/features">Features</a>
        </li>
		
		<li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle" routerLink="/industries" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Industries<span class="black-down-arrow"></span></a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" routerLink="industries_speciality_retail">Speciality Retail</a>
              <a class="dropdown-item" routerLink="industries_supermarkets">Supermarkets</a>
              <a class="dropdown-item" routerLink="industries_store">Apparel Store</a>
            </div>
        </li>
		
		<li class="nav-item">
          <a class="nav-link" routerLink="/knowledge">Knowledge</a>
        </li>
		
		<li class="nav-item">
          <a class="nav-link" routerLink="/pricing">Pricing</a>
        </li>

        
        
      </ul>
		<form class="d-flex pr-3">
                <button class="btn btn-light btn-border font-black small-size radius-shape white-btn mr-3" type="submit"
                    routerLink="/talktous">TALK TO US</button>
                <button class="btn text-white small-size trybtn radius-shape" type="submit" routerLink="/schedule_a_demo">TRY A DEMO</button>
            </form>
    </div>
  </nav>