.navbar-light .navbar-nav .nav-link{font-size: 1em; color: #323338; font-style: normal; font-weight: 500; line-height: 27px; }
.col-size-cust{width: 170px; display: inline-block;}
.social-left-text{width: 400px; display: inline-block;}
.cust-menu-box{position: absolute; right: 0; display: inline-block;}
.cust-inline{display: inline-block;}
.text-white{background: #00CA72;}
.white-btn{padding: 10px 20px;}
.trybtn{padding: 10px 20px;}
.dropdown-toggle::after{display: none;}