<div class="container-fluid">
    <div class="row p-5">
        <div class="col-12 pl-5 pr-5 pt-5 text-center font-black" data-aos="fade-up" data-aos-duration="1000">
            <h3 class="font48 font-weight-bold lora">About Frontlyne</h3>
            <h4 class="font40 font-weight-bold lora">World’s only <span class="bg-blue text-white custom-radius"> SAAS</span> product to <span class="font-blue"> digitise Performance Management </span> of frontline retail employees.</h4>
        </div>
    </div>

    <div class="row m-5 custom-border" data-aos="fade-right" data-aos-offset="250" data-aos-duration="1000">
        <div class="bg-blue pt-2 pb-2 pl-5">
            <div class="red-indicator"></div>
            <div class="ml-3 mr-3 orange-indicator"></div>
            <div class="green-indicator"></div>
        </div>

        <div class="col-8 pl-5 align-self-center">
            <h4 class="font-weight-bold lora">Your Partner in Performance Management</h4>
            <p>We’ve grown from being a reseller of a leading LMS company to developing our own SAAS product; and this journey has been one with immense learnings.</p>
            <p>We’ve channeled our insights from our experience of working in the retail industry into building a single platform which digitizes performance management for the frontline retail employees. While we are excited, we are equally motivated in making Frontlyne a solution that can benefit the retail frontline employees and ultimately improve their professional development.</p>
        </div>

        <div class="col-4  pr-0" data-aos="fade-up" data-aos-offset="270" data-aos-duration="1000">
            <img src="../assets/images/aboutus/image-1.png" class="img-fluid" alt="image">
        </div>
    </div>

    
    <div class="row p-5 scrolling-top">
        <div class="col-3">
            <img src="../assets/images/aboutus/image-2.png" class="img-fluid custom-border blue-shadow" alt="image">
        </div>

        <div class="col-6 align-self-center">
            <h4 class="lora font-weight-bold font40">Who we are</h4>
            <p class="poppins font24">Even though we are a small team we have a big dream. We believe in letting our team members take ownership of their ideas and see it through. Because of this, we are able to nurture a team of independent thinkers who contribute to the goals and the vision of the organisation.</p>
        </div>

        <div class="col-3 custom-border blue-shadow">
            <img src="../assets/images/aboutus/image-3.png" class="img-fluid" alt="image">
        </div>
    </div>

    <!--<div class="row p-5 scrolling-down">
        <div class="col-3">
            <img src="../assets/images/aboutus/image-2.png" class="img-fluid custom-border blue-shadow" alt="image">
        </div>

        <div class="col-6 align-self-center">
            <h4 class="lora font-weight-bold font40">Who we are</h4>
            <p class="poppins font24">Even though we are a small team we have a big dream. We believe in letting our team members take ownership of their ideas and see it through. Because of this, we are able to nurture a team of independent thinkers who contribute to the goals and the vision of the organisation.</p>
        </div>

        <div class="col-3 custom-border blue-shadow">
            <img src="../assets/images/aboutus/image-3.png" class="img-fluid" alt="image">
        </div>
    </div>-->
 
    

    <div class="row bg-white p-5 bg-footer" data-aos="fade-up" data-aos-offset="250" data-aos-duration="1000">
        <div class="col-12 text-center">
            <h3 class="mb-3 font32 font-weight-bold">Join us and build the ultimate Performance Management for Retail Frontline Teams.</h3>
            <button class="green-btn">SCHEDULE A DEMO</button>
        </div>
    </div>
    
</div>