.custom-border{border: 2px solid #333333; border-radius: 16px; padding: 0px; overflow: hidden;}
.custom-radius{border-radius: 8px; padding: 2px;}
.red-indicator{background-color: #FF688E; padding: 10px; border-radius: 50%; width: 10px; height: 10px; display: inline-block; vertical-align: top;}
.orange-indicator{background-color: #FFD166; padding: 10px; border-radius: 50%; width: 10px; height: 10px; display: inline-block; vertical-align: top;}
.green-indicator{background-color: #00EEB0; padding: 10px; border-radius: 50%; width: 10px; height: 10px; display: inline-block; vertical-align: top;}
.blue-shadow{box-shadow: 8px 8px #595AD4;}
.bg-footer{background-image: url("../../assets/images/WhyFrontlyne/footer.png"); background-color: rgba(255, 197,63,0.8) !important}
