<div class="container-fluid">
    <div class="row pt-5">
        <div class="col-6 text-dark p-5 ">
            <div class="custombg-color text-dark pt-5 pb-5">
                <p class="p-text lora heading-text mt-3">Standard Operating Processes </p>
                <p class="subheading-text">Get all your teams in sync. Choose to work seamlessly.
                    Digitise your process and access it at your fingertips. </p>
                <button class="btn btn-secondary text-uppercase pl-4 pr-4 radius-shape blue-btn mt-5 mb-5">Schedule a
                    demo</button>
            </div>
        </div>
        <div class="col-6 ">
            <img src="../assets/images/Features/sf4img.png" class="img-fluid" alt="image">
        </div>
    </div>
    <div class="row p-5">
        <div class="col-6 ">
            <img src="../assets/images/Features/sp_holder.png" class="img-fluid" alt="image">
        </div>
        <div class="col-6 p-5">
            <div class="custombg-color text-dark pt-5 pb-5">
                <p class="sf_Title-text lora">Digitise right now</p>
                <p class="sf_subTitle-text">Simply automate your business process and create interactive workflow.
                    Digitise all the checklists, audits and everything else right away and assign your process to all
                    the team members in your stores within minutes. Eliminate the use of excel sheets and manual data.
                </p>
            </div>
        </div>
    </div>
    <div class="row bg-red ">
        <div class="col-3 bg-lightred">

        </div>
        <div class="col-9 p-5">
            <div class="text-white pt-5 pb-5">
                <p class="sf_Title-text lora">Digitise your audits</p>
                <p class="sf_subTitle-text">All your audits can be digitised under one roof, yes, you read that right!
                    Get instant reliable data for better risk analysis and to drive your business operations
                    efficiently. Also keep all your checklists in one platform to help you strategize, make changes and
                    provide feedback on the go.
                </p>
            </div>
        </div>
    </div>
    <div class="row p-5">
        <div class="col-6 ">
            <div class="text-dark p-5">
                <p class="sf_Title-text lora">Multiple Templates</p>
                <p class="sf_subTitle-text">Save your time, explore and use the templates available under the SOP
                    feature. You can choose to create a completely new SOP or simply edit an existing template built by
                    industry experts. Make the change and deploy in just a few minutes.
                </p>
            </div>
        </div>
        <div class="col-6 p-5">
            <img src="../assets/images/Features/sp_holder.png" class="img-fluid" alt="image">
        </div>
    </div>
    <div class="border-middle"></div>
    
    <div class="row p-5">
        <div class="sf_Title-text lora text-dark pt-5 pb-4">Read articles related to this Feature</div>
        <div class="col-4">
            <div class="titleimg  position-relative">
                <!-- <img src="../assets/images/Features/artical_title.png" class="img-fluid shadow custom_border-radius" alt="image">-->
                <div class=" box-shadow position-absolute text-fit-place">
                    <p class=" subheading-text  text-white pt-1 d-inline-block">Article Title</p>
                    <a href="#" class=" text-white text-decoration-none pt-2 d-inline-block clickable-text">Read <span
                            class="forword-icon"></span></a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="titleimg  position-relative">
                <!-- <img src="../assets/images/Features/artical_title.png" class="img-fluid shadow custom_border-radius" alt="image">-->
                <div class=" box-shadow position-absolute text-fit-place">
                    <p class=" subheading-text  text-white pt-1 d-inline-block">Article Title</p>
                    <a href="#" class=" text-white text-decoration-none pt-2 d-inline-block clickable-text">Read <span
                            class="forword-icon"></span></a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="titleimg  position-relative">
                <div class=" box-shadow position-absolute text-fit-place">
                    <p class=" subheading-text  text-white pt-1 d-inline-block">Article Title</p>
                    <a href="#" class=" text-white text-decoration-none pt-2 d-inline-block clickable-text">Read <span
                            class="forword-icon"></span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="border-top border-secondary"></div>

    <div class="row p-5">
        <div class="col-7 text-right">
            <p class="font-blue text-uppercase sf_subTitle-text">Automate Career Progression </p>
        </div>
        <div class="col-1 text-center">
            <div class="blue_arrow"></div>
        </div>
        <div class="col-4 text-left">
            <p class="uppercase sf_subTitle-text">Learning Management System</p>
        </div>
    </div>

    <div class="row bg-blue p-5 mt-3">
        <div class="col-6 d-flex align-content-between  flex-wrap">
            <div class="custombg-color text-white pt-5 pb-5">
                <p class="l-text4 pt-3 pb-3">We would love to help you Digitise Performance Management of your Frontline
                    Teams</p>
                <button class="btn btn-light border text-uppercase  pl-4 pr-4 radius-shape mt-3 mb-3">TRY A
                    DEMO</button>
            </div>
        </div>
        <div class="col-6 text-center">
            <img src="../assets/images/Features/featureCharacter.png" class="img-fluid" alt="image">
        </div>
    </div>


</div>