.custom-borber{border: 2px solid #333333; border-radius: 24px; box-shadow: 5px 5px #333333;}
.custom-margin{margin: 0 auto;}
.font64{font-size: 4rem;}
.orabge-block{background-color: #FFD166;} 
.text-block{width: 40%;}
.custom-form-properties{width: 45%; right: 80px; top: 0px; border-radius: 10px;}
.custom-margin{margin-top: 200px;}