
<div class="container-fluid ">
    <div class="row p-5 text-center bg-white">
        <div class="col-12 heading-text">
            <p>Frontlyne is a <span class="font-blue">SAAS</span> product with an inbuilt ability to configure and implement as per your requirement to help you
                <span class="font-green"> achieve your business goals.</span></p>
        </div>
    </div>

    <div class="row p-5">
        <h4 class="text-center">Frontlyne licenses are provided on an active user model which brings 2 important benefits:</h4>
        
        <div class=" row justify-content-center">
            <div class="col-5 custom-borber p-4">
                <p class="font-blue lora font-weight-bold font64">01</p>
                <p class="poppins font-24 font-black">Reuse the licenses among any number of users</p>
            </div>
    
            <div class="col-5 ml-3 custom-borber p-4">
                <p class="font-blue lora font-weight-bold font64">02</p>
                <p class="poppins font-24 font-black">Upload any number of users but activate only X number of licences which are procured
                </p>
            </div>
        </div>
        
    </div>

    <div class="row p-5 bg-white">
        <div class="col-6">
            <img src="../assets/images/pricing/image-1.png" class="img-fluid" alt="image">
        </div>

        <div class="col-6">
            <h4 class="heading-text">Our pricing model is best suited for businesses with frontline employees.</h4>
            <p class="poppins font-24 font-black">Frontlyne has an open API, which means we can integrate with any application in the world to give your users a better experience.</p>
        </div>
    </div>

    <div class="row p-5 bg-white position-relative">
        <div class="orabge-block">
            <div class="text-block">
                <h4 class="heading-text">We would love to share the best costing model.</h4>
                <p class="poppins font-24 font-black">Drop us a note and someone from our team will be in touch with you. </p>
            </div>
        </div>

        <div class="form position-absolute custom-form-properties bg-white shadow-lg p-4">
            <div class="form-group">
                <label for="Full name font16">Full name *</label>
                <input type="text" class="form-control" id="full-name" autocomplete="off" required [(ngModel)]="fullname" name="entry.1871128446">
            </div>

            <div class="row">
                <div class="form-group col-4">
                    <label for="contact-number font16">Contact number *</label>
                    <input type="number" class="form-control" id="contact-number" autocomplete="off" required [(ngModel)]="contact_number" name="entry.308828301">
                </div>
    
                <div class="form-group col-8">
                    <label for="email-id font16">Email ID *</label>
                    <input type="email" class="form-control" id="email-id" autocomplete="off" required [(ngModel)]="email_id" name="entry.600949575">
                </div>
            </div>
            
            <div class="form-group">
                <label for="organisation-name font16">Organisation Name *</label>
                <input type="text" class="form-control" id="organisation-name" autocomplete="off" required [(ngModel)]="org_name" name="entry.858516406">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="message" autocomplete="off" [(ngModel)]="message" name="entry.725154871">
            </div>

            <div class="form-group text-center">
                <button type="submit" class="col-12 d-block green-btn" (click)="validateForm()">SEND MESSAGE</button>
            </div>
            
        </div>

    </div>

    <div class="row p-5 bggreen-footer custom-margin">
        <div class="col-6 text-white align-self-center">
           <p class="lora font32">We would love to help you Digitise Performance Management of your Frontline Teams.</p>
           <button class="white-btn border-0" routerLink="talktous">TALK TO US </button>
        </div>

        <div class="col-6">
            <img src="../assets/images/Features/image-8.png" class="img-fluid" alt="image">
        </div>
    </div>

</div>