<!--blog page -->
<div class="row">
    <div class="col-6 text-dark align-self-end">
        <p class="font-weight-bold  mb-0 lora heading-text">YOUR KEY TO BUILD STRONGER RETAIL FRONTLINE TEAMS  </p>
    </div>

    <div class="col-6">
        <img src="../assets/images/blog/img-1.png" class="img-fluid" alt="image">
    </div>
</div>

<div class="row">
    <div class="col-2">
        <img src="../assets/images/blog/img-3.png" class="img-fluid" alt="image">
    </div>

    <div class="col-8 text-dark font-black position-relative">
        <div class="position-absolute image-text custom-back-color p-3">
            <p class="subheading-text">Frontline teams are ever changing and more in these times of digitization.</p>
            <p class="font18">Frontline teams are expected to have a high level of knowledge on the product, the process and their customers. The more these elements are repeated in form of training, learnings and on-the job evaluations, the better they perform.</p>
        </div>
        <img src="../assets/images/blog/img-2.png" class="img-fluid" alt="image">
    </div>
    
    <div class="col-2">
        
    </div>
</div>

<div class="row">
    <div class="col-2"></div>

    <div class="col-8 text-dark font-black">
        <p class="font18">The question arises on </p>
        <p class="heading-text">“How do we prepare our retail frontline teams to perform at their optimum?” </p>
        <img src="../assets/images/blog/img-4.png" class="img-fluid" alt="image">
    </div>
    
    <div class="col-2"></div>
</div>

<div class="row">
    <div class="col-2"></div>

    <div class="col-8 text-dark font-black custom-padding custom-back-color">
        <p class="font18">Most of the retail businesses think this from maximum 2 elements:</p>
        <p class="heading-text">“How do we prepare our retail frontline teams to perform at their optimum?” </p>
        
        <div class="text-center">
            <div class="d-inline-block">
                <img src="../assets/images/blog/img-5.png" class="img-fluid" alt="image">
            </div>
            
            <div class="d-inline-block ml-3">
                <img src="../assets/images/blog/img-6.png" class="img-fluid" alt="image">
            </div>
        </div>
        <p>Not that they do not know how to add other elements, but the real reason being that managing this on a scale, and on a paper pencil model, and the enormous amount of raw data it generates makes it very difficult. </p>
    </div>

    <div class="col-2"></div>
</div>

<div class="row">
    <div class="col-2"></div>

    <div class="col-8 text-dark font-black custom-padding custom-bg-purple">
        <p class="font18 text-white">The elements retail businesses need to consider to develop a strategic performance plan for the retail frontline teams are:</p>
            
        <div class="row bg-white shadow-lg rounded-top">
            <div class="col-1 number-color heading-text">
                <p class="m-0">1</p>
            </div>
            <div class="col-11 font-black align-self-center">
                <p class="m-0">Learning and Training Achievement Data</p>
            </div>
        </div>

        <div class="row bg-white shadow-lg">
            <div class="col-1 number-color heading-text">
                <p class="m-0">2</p>
            </div>
            <div class="col-11 font-black align-self-center">
                <p class="m-0">Sales Target Achievement Data</p>
            </div>
        </div>

        <div class="row bg-white shadow-lg">
            <div class="col-1 number-color heading-text">
                <p class="m-0">3</p>
            </div>
            <div class="col-11 font-black align-self-center">
                <p class="m-0">Career Progression Data</p>
            </div>
        </div>

        <div class="row bg-white shadow-lg">
            <div class="col-1 number-color heading-text">
                <p class="m-0">4</p>
            </div>
            <div class="col-11 font-black align-self-center">
                <p class="m-0">Standard Operating Processes Data</p>
            </div>
        </div>

        
    </div>

    <div class="col-2"></div>
</div>

<div class="row">
    <div class="col-2"></div>
    <div class="col-8 custom-back-color custom-padding pt-5 pb-5">
        <p>If you are not going to have a good mix of all the elements mentioned above, you are designing a “not so effective” performance management plan.</p>

        <p>When data from all these elements are triangulated together, it gives you the best possible way to measure performance of your retail frontline team member. </p>
            
        <p>Frontlyne helps you do exactly this. With Frontlyne, retail businesses can digitise performance management plans, make it available on one single platform – more importantly make it available on mobile devices, and help your business to save cost and time. </p>
    </div>
    <div class="col-2"></div>
</div>



<div class="row border-top">
    <div class="col-12">
        <p>Read Other Blogs</p>
        <div class="row">
            <div class="col-4">
                <img src="../assets/images/blog/img-7.png" class="d-inline-block img-fluid" alt="image">
            </div>

            <div class="col-4">
                <img src="../assets/images/blog/img-8.png" class="d-inline-block img-fluid" alt="image">
            </div>

            <div class="col-4">
                <img src="../assets/images/blog/img-9.png" class="d-inline-block img-fluid" alt="image">
            </div>
        </div>
    </div>
</div>

<div class="row bg-blue">
    <div class="col-6 align-self-center">
        <p class="text-white">We would love to help you Digitise Performance Management of your Frontline Teams</p>
        <button class="btn btn-light pl-4 pr-4 bg-white font-blue radius-shape"> Talk to us </button>
    </div>

    <div class="col-6">
        <img src="../assets/images/Landing-page/img-3.png" class="img-fluid" alt="image">
    </div>
</div>