<div class="container-fluid">
    <div class="row pt-5">
        <div class="col-6 text-dark p-5 ">
            <div class="custombg-color text-dark pt-5 pb-5">
                <p class="p-text lora heading-text mt-3">Robust Reporting Functionality</p>
                <p class="subheading-text">Just the reporting you need. Truly!
                    Generate custom reports and make the right decision! </p>
                <button class="btn btn-secondary text-uppercase pl-4 pr-4 radius-shape blue-btn mt-5 mb-5">Schedule a
                    demo</button>
            </div>
        </div>
        <div class="col-6 ">
            <img src="../assets/images/Features/sf6img.png" class="img-fluid" alt="image">
        </div>
    </div>
    <div class="row p-5">
        <div class="col-6 ">
            <img src="../assets/images/Features/sp_holder.png" class="img-fluid" alt="image">
        </div>
        <div class="col-6 p-5">
            <div class="custombg-color text-dark pt-5 pb-5">
                <p class="sf_Title-text lora">Custom reports</p>
                <p class="sf_subTitle-text">With Frontlyne, you can now have the superpower you need. Download all the
                    custom reports you need, filter them as you want and store the report in excel or pdf format, all
                    available to you at your fingertips.
                </p>
            </div>
        </div>
    </div>
    <div class="row bg-red ">
        <div class="col-3 bg-lightred">

        </div>
        <div class="col-9 p-5">
            <div class="text-white pt-5 pb-5">
                <p class="sf_Title-text lora">Just reports</p>
                <p class="sf_subTitle-text"> Filter and download reports which you require on specific modules of
                    Frontlyne, such as learning, career progression, training, rewards and recognition, SOPs and store
                    sales data.
                </p>
            </div>
        </div>
    </div>
    <div class="row p-5">
        <div class="col-6 ">
            <div class="text-dark p-5">
                <p class="sf_Title-text lora">Employee Overall Performance Report</p>
                <p class="sf_subTitle-text"> An exciting report that gives you data from a 360-degree perspective. The
                    report will give you an average score of the user’s journey in the organisation, including
                    completion of learning material, training, career progression, SOPs and sales target achievement.
                </p>
            </div>
        </div>
        <div class="col-6 p-5">
            <img src="../assets/images/Features/sp_holder.png" class="img-fluid" alt="image">
        </div>
    </div>
    
    <div class="border-top border-secondary"></div>

    <div class="row p-5">
        <div class="sf_Title-text lora text-dark pt-5 pb-4">Read articles related to this Feature</div>
        <div class="col-4">
            <div class="titleimg  position-relative ">
                <!-- <img src="../assets/images/Features/artical_title.png" class="img-fluid shadow custom_border-radius" alt="image">-->
                <div class=" box-shadow position-absolute text-fit-place">
                    <p class=" subheading-text  text-white pt-1 d-inline-block">Article Title</p>
                    <a href="#" class=" text-white text-decoration-none pt-2 d-inline-block clickable-text">Read <span
                            class="forword-icon"></span></a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="titleimg  position-relative">
                <div class=" box-shadow position-absolute text-fit-place">
                    <p class=" subheading-text  text-white pt-1 d-inline-block">Article Title</p>
                    <a href="#" class=" text-white text-decoration-none pt-2 d-inline-block clickable-text">Read <span
                            class="forword-icon"></span></a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="titleimg  position-relative">
                <div class=" box-shadow position-absolute text-fit-place">
                    <p class=" subheading-text  text-white pt-1 d-inline-block">Article Title</p>
                    <a href="#" class=" text-white text-decoration-none pt-2 d-inline-block clickable-text">Read <span
                            class="forword-icon"></span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="border-top border-secondary"></div>

    <div class="row p-5">
        <div class="col-7 text-right">
            <p class="font-blue text-uppercase sf_subTitle-text">Automate Career Progression </p>
        </div>
        <div class="col-1 text-center">
            <div class="blue_arrow"></div>
        </div>
        <div class="col-4 text-left">
            <p class="uppercase sf_subTitle-text">Learning Management System</p>
        </div>
    </div>

    <div class="row bg-blue p-5 mt-3">
        <div class="col-6 d-flex align-content-between  flex-wrap">
            <div class="custombg-color text-white pt-5 pb-5">
                <p class="l-text4 pt-3 pb-3">We would love to help you Digitise Performance Management of your Frontline
                    Teams</p>
                <button class="btn btn-light border text-uppercase  pl-4 pr-4 radius-shape mt-3 mb-3">TRY A
                    DEMO</button>
            </div>
        </div>
        <div class="col-6 text-center">
            <img src="../assets/images/Features/featureCharacter.png" class="img-fluid" alt="image">
        </div>
    </div>


</div>