<div class="container-fluid industries">
    <div class="row p-5 custombg-1 mt-3">
        <div class="col-7 font-black pr-5">
            <h3 class="font48 font-weight-bold ">Supermarkets</h3>
            
            <div class="poppins font18">
                <p>Your large or small format stores needs employees to be well aware of the product, its quality, its speciality, its difference when compared to other similar products. All of this if done correctly and digitally can give you an upper hand to be more strategic and spend more time on actual changes than the administration part.</p>
            </div>
            
        </div>

        <div class="col-5">
            <img src="../assets/images/industries-supermarkets/image-1.png" class="img-fluid" alt="image">
        </div>
    </div>

    <div class="row">
        <div class="col-6 custombg-color-1 pt-5 pb-5 pl-3 pr-3">
            <img src="../assets/images/industries-supermarkets/image-2.png" class="img-fluid" alt="image">
        </div>

        <div class="col-6">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item mb-2">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button font-black rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Career Journey Digitization
                        </button>
                    </h2>
        
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="mb-0"> Career Journey of the employee in the frontline employee in the Supermarket segment has to be exciting and dynamic and at the same time, the employee needs to learn the skills and master them. But doing this on a paper-pencil and excel sheet can be very challenging. Frontlyne can help you digitise the entire Career Journey of your frontline employees and help you focus on strategies and leave the administration tasks to us. </p>
                        </div>
                    </div>
                </div>
        
                <div class="accordion-item mb-2 border-top">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed font-black" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Self Learning and Classroom Trainings Digitization
                        </button>
                    </h2>
        
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
        
                <div class="accordion-item border-top">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed font-black" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Assessment, Feedback and Survey Digitization
                        </button>
                    </h2>
        
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>

                <div class="accordion-item border-top">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed font-black" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Digitise SOPs of your store
                        </button>
                    </h2>
        
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>

                
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-8 bg-red text-white p-5">
            <h4 class="lora font-weight-bold font40">Our Aim Is To Help You Become Efficient By Automating Activities Related To
            </h4>

            <div class="p-2 poppins small-size">
				<p class="m-0 pl-3"><span class="bullet-point"></span> Retention </p>
				<p class="m-0 mt-2 pl-3"><span class="bullet-point"></span> Learning </p>
				<p class="m-0 mt-2 pl-3"><span class="bullet-point"></span> Processes </p>
			</div>

        </div>

        <div class="col-4">
            <img src="../assets/images/industries/image-4.png" class="img-fluid" alt="image">
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            
            <div class="position-relative">
                <p class="lora font48">Top Companies Trust Frontlyne </p>
                <div class="line position-absolute"></div>
            </div>

            <img src="../assets/images/industries/image-6.png" class="img-fluid" alt="image">
            <img src="../assets/images/industries/image-7.png" class="img-fluid" alt="image">
            <img src="../assets/images/industries/image-8.png" class="img-fluid" alt="image">
            <img src="../assets/images/industries/image-9.png" class="img-fluid" alt="image">
        </div>
    </div>

    <div class="row p-5 bggreen-footer">
        <div class="col-6 text-white align-self-center">
           <p class="lora font32">We would love to help you Digitise Performance Management of your Frontline Teams.</p>
           <button class="white-btn border-0" routerLink="talktous">TALK TO US </button>
        </div>

        <div class="col-6">
            <img src="../assets/images/Features/image-8.png" class="img-fluid" alt="image">
        </div>
    </div>
  

</div>