.demo-btn{background-color: #fff; border-radius: 8px; border: 1px solid #E0E0E0; color: #323338; padding: 10px; width: 100%;}
.blue-circle{border-radius: 50%; background-color: #595AD4; color: #fff; height: 30px; width: 30px; display: inline-block; vertical-align: top; padding: 4px 2px 0px;}
.vertical-align-middle{vertical-align: middle;}
.down-arrow{background-image: url("../../assets/images/global/drop-arrow.png"); height: 9px; width: 12px; display: inline-block; vertical-align: middle; background-repeat: no-repeat;}
.width-50{width: 50%; display: inline-block; vertical-align: top;}
.image-block{left: 0px; display: inline-block; vertical-align: top;}
.demo-container{width: 600px; margin: 0 auto; display: block; box-shadow: 0px 15px 50px rgba(51, 51, 51, 0.3); border-radius: 16px; background-color: #595AD4;}
.calendar-block{border-radius: 16px 0 0 0;}
.z-index{z-index: 1;}
.gradient-color{background: linear-gradient(to top, #FFD166 55%, #fff 50%)}
.width-30{width: 30%;}
.ngb-dp-header{background-color: #595AD4 !important;}
.ng-star-inserted{background-color: #595AD4 !important;}