<div class="container-fluid mt-5">
    <div class="row p-5">
        <div class="col-6">
            <p class="font-black lora font-weight-bold">Watch a demo video , before scheduling a demo product for your business</p>
            <p class="font18 poppins font-green">Schedule a Demo Now <span class="green-down-arrow"></span></p>
        </div>

        <div class="col-6">
            <img src="../assets/images/schedule-a-demo/image-1.png" class="img-fluid" alt="image">
        </div>
    </div>

    <div class="row p-5 ">
        <div class="text-center">
            <h4 class="font40 font-black">Which product are you looking for a demo?</h4>
            <button class="demo-btn col-2 mt-3  mb-4">Frontlyne CP</button>
            <button class="demo-btn col-2 ml-3 mr-3  mt-3  mb-4">Frontlyne LMS</button>
            <button class="demo-btn col-2  mt-3  mb-4">Both</button>

            <div class="d-block">
                <p class="d-inline-block"><span class="blue-circle">1</span></p>
                <p class="m-0 pl-1 pr-3 d-inline-block align-middle">Select date and time</p>

                <p class="d-inline-block"><span class="blue-circle">2</span></p>
                <p class="m-0 pl-1  d-inline-block align-middle">Confirm demo call</p>
            </div>
        </div>
    </div>

    <div class="row position-relative">
        <div class="col-12 position-relative z-index gradient-color">
            <div class="position-absolute image-block">
                <img src="../assets/images/schedule-a-demo/image-2.png" class="img-fluid" alt="image">
            </div>

            <div class="demo-container">
                <div class="calendar-block bg-blue width-50">
                    <p class="poppins small-size text-white">Demo will be assisted by</p>
                    
                    <ngb-datepicker class="bg-blue" #d1 [(ngModel)]="model1" #c1="ngModel" style="background-color: #595AD4;"></ngb-datepicker>
                    
                </div>

                <div class="timer-block p-3 width-50 bg-white">
                    <p class="poppins font-black font18">What time works best?</p>
                    <p class="font-green poppins small-size">UTC +05:30  Asia/Kolkata <span class="down-arrow"></span></p>

                    <button class="demo-btn mb-2 font-black font font18 d-block">10:00am to 10:15am</button>
                    <button class="demo-btn mb-2 font-black font font18 d-block">7:00pm to 7:15pm</button>
                    <button class="demo-btn font-black font font18 d-block">8:00pm to 8:15pm</button>

                    <button class="demo-btn font-black font font18 d-inline-block w-auto float-right mt-5">Next</button>

                </div>
            </div>
        </div>

        <div class="d-block bg-lightorange pl-5 pt-5 pb-5">
            <h4 class="lora font-weight-bold font40 font-darkblack mb-0">You can also view more related </h4>
            <h4 class="lora font-weight-bold font40 font-darkblack"> demo video</h4>

            <div class="d-inline-block width-30">
                <img src="../assets/images/schedule-a-demo/image-4.png" class="img-fluid" alt="image">
                <p class="poppins font24 text-black mt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
            </div>

            <div class="d-inline-block width-30 ml-3 mr-3">
                <img src="../assets/images/schedule-a-demo/image-4.png" class="img-fluid" alt="image">
                <p class="poppins font24 text-black mt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
            </div>

            <div class="d-inline-block width-30">
                <img src="../assets/images/schedule-a-demo/image-4.png" class="img-fluid" alt="image">
                <p class="poppins font24 text-black mt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam</p>
            </div>
        </div>

        
    </div>

    <div class="row p-5 bggreen-footer">
        <div class="col-6 text-white align-self-center">
           <p class="lora font32">We would love to help you Digitise Performance Management of your Frontline Teams.</p>
           <button class="white-btn border-0"  routerLink="/talktous">TALK TO US </button>
        </div>

        <div class="col-6">
            <img src="../assets/images/Features/image-8.png" class="img-fluid" alt="image">
        </div>
    </div>


   
    

</div>




