/*blog page */

.socialmedia-block{width: 100px; left: 0;}
.text-container{width: 700px; margin: 0 auto;}
.custom-back-color{background-color: #F8F8F8;}
.image-center{margin: 0 auto;}
.black-border{background: #FCFCFC; border: 1px solid #000; border-radius: 20px;}

.number-color{color: #BFBFBF;}