<!--blog page -->

<div class="container-fluid">
    <div class="row pt-5">
        <div class="col-12 p-0">
            <img src="../assets/images/blog/image-1.png" class="img-fluid" alt="image">
        </div>
    </div>
    
    <div class="bg-white pt-5 position-relative">
        <div class="socialmedia-block text-center position-absolute">
            <p class="font-black font18 poppins">Share Link</p>
            <a href="" class="facebook-icon"> </a>
            <a href="" class="twitter-icon mt-3"> </a>
            <a href="" class="li-icon mt-3"> </a>
            <a href="" class="s-icon mt-3"> </a>
        </div>

        <div class="text-container">
            <div class="row">
                <!--<div class="col-6 align-self-center poppins custom-back-color">
                    <h6 class="subheading-text">Distributed Workforce is ever changing and more in these times of digitization.</h6>
                    <p class="font18">Frontline teams are the face of your company and interact with potential customers directly, hence they are expected to have a high level of knowledge on the product, internal processes and the customers.</p>
                    <p class="mb-0 font18">The more these elements are repeated in the form of training, learnings and on the job evaluations, the better they perform.</p>
                </div>
                
                <div class="col-6">
                    <img src="../assets/images/blog/image-2.png" class="img-fluid" alt="image">
                </div>-->
                <img src="../assets/images/blog/full-image.png" class="img-fluid" alt="image">
            </div>
    
            <div class="row pt-5">
                <div class="col-12 text-dark font-black">
                    <p class="font18 poppins">The question arises on</p>
                    <p class="heading-text"><span class="quotes-img"></span>How do we prepare our frontline teams to perform at their optimum? <span class="quotes-img2"></span></p>
                    <img src="../assets/images/blog/image-3.png" class="img-fluid" alt="image">
                    
                    <div class="bg-red pt-3 pb-3 pl-5 pr-5 font18 poppins text-white">
                        <p>Let’s remember, performance of the frontline team member is an output of the various elements which acts as an input.</p>
                        <p class="mb-0">Performance of the frontline teams needs to be evaluated from different angles, multiple data points need to be evaluated to arrive at a point when you are sure that a particular frontline team member is a high performing or a low performing employee.</p>
                    </div>
    
                    <div class="pl-5 pr-5 pt-3 pb-3 custom-back-color">
                        <p class="poppins font-weight-bold font-black  mb-3 font18">Most of the businesses with frontline employees think of performance from maximum 2 elements:</p>
    
                        <div class="text-center mb-5">
                            <div class="d-inline-block">
                                <img src="../assets/images/blog/image-4.png" class="img-fluid" alt="image">
                            </div>
                            <div class="d-inline-block ml-3">
                                <img src="../assets/images/blog/image-5.png" class="img-fluid" alt="image">
                            </div>
                        </div>
                        <p class="mb-0 poppins font18">Not that they do not know how to add other elements, but the real reason being that managing this on a scale, and on a paper pencil model, and due to the enormous amount of raw data it generates, makes it very difficult. </p>
                    </div>
                    
    
                    <div class="pl-5 pr-5 bg-purple">
                        <p class="pt-3 font18 text-white">The elements retail businesses need to consider to develop a strategic performance plan for the retail frontline teams are:</p>
                            
                        <div class="row bg-white shadow-lg mr-2 ml-2 rounded-top">
                            <div class="col-1 number-color heading-text">
                                <p class="m-0 pl-2 pr-2">1</p>
                            </div>
                            <div class="col-11 font-black align-self-center">
                                <p class="m-0 poppins font18">Learning and Training Achievement Data</p>
                            </div>
                        </div>
                
                        <div class="row bg-white shadow-lg mr-2 ml-2">
                            <div class="col-1 number-color heading-text">
                                <p class="m-0  pl-2 pr-2">2</p>
                            </div>
                            <div class="col-11 font-black align-self-center">
                                <p class="m-0 poppins font18">Sales Target Achievement Data</p>
                            </div>
                        </div>
                
                        <div class="row bg-white shadow-lg mr-2 ml-2">
                            <div class="col-1 number-color heading-text">
                                <p class="m-0  pl-2 pr-2">3</p>
                            </div>
                            <div class="col-11 font-black align-self-center">
                                <p class="m-0 poppins font18">Career Progression Data</p>
                            </div>
                        </div>
                
                    </div>
    
                    <div class="custom-back-color p-5 poppins font18">
                        <p>If you are NOT GOING to have a good mix of all the elements mentioned above, you are designing a <span class="font-blue"> “not so effective” </span> plan to manage your workforce well.</p>
        
                        <p>When data from all these elements are triangulated together, it gives you the best possible way to measure skills of your frontline teams.</p>
                            
                        <p class="mb-0">Frontlyne helps you do exactly this. With Frontlyne, businesses with frontline teams can digitise and automate career journeys, learning, training, SOP, and Performance Evaluations and most importantly make it available on one single platform to help your business to save cost and time.</p>
                    </div>
    
                </div>
            </div>
            
        </div>

    </div>


    <div class="row p-5 justify-content-around bg-white">
        
        <h5 class="font32 font-weight-bold text-dark pt-5 border-top mb-3">Read Other Related Articles</h5>

        <div class="col-5 p-0 black-border">
            <div class="row p-3">
                <div class="col-8">
                    <p class="poppins font18 font-blue">Article</p>
                    <p class="font-black poppins">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <button class="btn btn-default blue-btn text-white small-size poppins custom-radius16">10 min Read</button>
                    <a href="#" class="text-decoration-none small-size poppins font-green mt-5 d-block"> READ MORE <span class="green-forword-arrow"></span></a>
                </div>
                <div class="col-4">
                    <img src="../assets/images/blog/image-6.png" class="img-fluid" alt="image">
                </div>
            </div>
        </div>

        <div class="col-5 black-border p-3">
            <div class="row p-3">
                <div class="col-8">
                    <p class="poppins font18 font-blue">Article</p>
                    <p class="font-black poppins">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <button class="btn btn-default blue-btn text-white small-size poppins custom-radius16">10 min Read</button>
                    <a href="#" class="text-decoration-none small-size poppins font-green mt-5 d-block"> READ MORE <span class="green-forword-arrow"></span></a>
                </div>
                <div class="col-4">
                    <img src="../assets/images/blog/image-6.png" class="img-fluid" alt="image">
                </div>
            </div>
        </div>
    </div>
    
    

    <div class="row p-5 bggreen-footer">
        <div class="col-6 text-white align-self-center">
           <p class="lora font32 font-weight-bold">We would love to help you Digitise Learning and Skills of your Frontline Teams.</p>
           <button class="white-btn border-0" routerLink="/talktous">TALK TO US </button>
        </div>

        <div class="col-6">
            <img src="../assets/images/Features/image-8.png" class="img-fluid" alt="image">
        </div>
    </div>
    
    
</div>

