.contactContainer{
    position: relative;
}

.titleContainer{
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #323338;
}



.form_g9tyo3__form_container {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    display: flex !important;
    justify-content: center !important;
    width: 700px;
    box-shadow: 0px 15px 50px 0px #3333334d;
}

.form_g9tyo3__form {
    display: block;
    font-size: 16px !important;
    line-height: 1.25rem !important;
    width: 100% !important;
    background: white !important;
    padding: 27px 100px;
    color: rgb(55, 65, 81) !important;
}

.form_g9tyo3__form_label {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgb(55, 65, 81) !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    display: block !important;
    margin-bottom: 0.35em !important;
}

.form_g9tyo3_form_input {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    appearance: none !important;
    font-size: 16px !important;
    display: block !important;
    border-radius: 0.375rem !important;
    background-color: #fff !important;
    padding: .5em .75em !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    border: 1px solid rgb(209, 213, 219) !important;
    margin-bottom: 1.5em !important;
    width: 100% !important;
    max-width: 100% !important;
}

.form_g9tyo3__form_input_submit {
    font-size: 16px !important;
    cursor: pointer !important;
    color: #fff !important;
    border: 0 !important;
    border-radius: 0.375rem !important;
    padding: .5em .75em !important;
    text-decoration: none !important;
    text-transform: none !important;
}



.form_g9tyo3__form_made_by {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgba(55, 65, 81, .7);
    font-size: .8em;
    text-align: right;
}

.form_g9tyo3__form_made_by a,
.form_g9tyo3__form_made_by a:active,
.form_g9tyo3__form_made_by a:visited {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    color: rgba(55, 65, 81, .7);
}

.form_g9tyo3__form_made_by a:hover {
    color: rgba(55, 65, 81, .9);
}

.form_g9tyo3__form_made_by svg {
    margin: 0 6px;
}

.form_g9tyo3__form_required {
    color: #EF4444;
}

#form_g9tyo3_snippet_error {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

