<div class="contactContainer mt-5 p-2">

    <div class="container mt-5 ">
        <div class="row " data-aos="fade-up" data-aos-duration="1000">
            <div class="col-12 text-center">
                <p class="titleContainer">Contact Us</p>
                <p class="subtitleContent">Get in touch with us by sending a message, we will get back to you! </p>
            </div>
        </div>
    
        <div style="display:flex; align-items: center; justify-content: center; margin-top: 40px;position: absolute;left: 0;right: 0;" data-aos="fade-up" data-aos-delay="800" data-aos-offset="300" data-aos-duration="1000">
            <section class="form_g9tyo3__form_container" id="form_g9tyo3__form_container">
                <form id="form_g9tyo3__form" class="form_g9tyo3__form contact_form" #simpleForm="ngForm" target="hidden_iframe">
                    
                    <label for="form_g9tyo3__form_input_0" class="form_g9tyo3__form_label"> Full name  <span class="form_g9tyo3__form_required">*</span> </label>
                    <input type="text" ngModel id="Name" class="form_g9tyo3_form_input input name" placeholder="" autocomplete="off" required [(ngModel)]="firstname" name="entry.580637106">

                    <label for="form_g9tyo3__form_input_1" class="form_g9tyo3__form_label"> Email address  <span class="form_g9tyo3__form_required">*</span> </label>
                    <input type="text" ngModel id="email_id" class="form_g9tyo3_form_input input email" placeholder="" autocomplete="off" required [(ngModel)]="email_id" name="entry.1041809111">

                    <label for="form_g9tyo3__form_input_2" class="form_g9tyo3__form_label"> Contact number <span class="form_g9tyo3__form_required">*</span> </label>
                    <input type="number" ngModel id="Subject" class="form_g9tyo3_form_input input" placeholder="" autocomplete="off" required [(ngModel)]="contact" name="entry.15042053">

                    <label for="form_g9tyo3__form_input_3" class="form_g9tyo3__form_label"> Enter your Message <span class="form_g9tyo3__form_required">*</span> </label>
                    <input type="text" ngModel id="Message" class="form_g9tyo3_form_input input msg" placeholder="" autocomplete="off" required [(ngModel)]="message" name="entry.971859245">

                    <div style="display:flex; align-items: center; justify-content: space-between; float: right;">
                        <button class="blue-btn form_g9tyo3__form_input_submit button is-large is-warning" style="margin-right:10px;"id="buttonid" (click)="validateForm()">SEND MESSAGE</button>
                    </div>
                    
                </form>

            </section>
        </div>
    </div>
    <div class="mt-5 col-2   m-2"> </div>
    <div class="mt-5 col-2   m-2"> </div>
    <div class="mt-5 col-2  m-2"> </div>
    <div class="mt-5 col-2   m-2"> </div>
    <div class="mt-5 col-2  m-2"></div>

    <div class="map_img" >
        <img src="../assets/images/global/frontlynemap.jpg" class="img-fluid" alt="image">
    </div>
    
</div>

<div class="row bg-blue p-5">
    <div class="col-6 d-flex align-content-between  flex-wrap" data-aos="fade-up" data-aos-offset="500" data-aos-duration="1000">
        <div class="custombg-color text-white pt-5 pb-5">
            <p class="l-text4 pt-3 pb-3">We would love to help you Digitise Learning and Skills of your Frontline Teams.</p>
            <button class="btn btn-light border text-uppercase  pl-4 pr-4 radius-shape mt-3 mb-3" routerLink="/talktous">TALK TO US</button>
        </div>
    </div>
    <div class="col-6 text-center" data-aos="zoom-in" data-aos-offset="500" data-aos-delay="800" data-aos-duration="1000">
        <img src="../assets/images/Features/featureCharacter.png" class="img-fluid" alt="image">
    </div>

</div>


<!--<script src="https://smtpjs.com/v3/smtp.js"></script>-->

