/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@font-face {
    font-family: Lora-Regular;
    src: url(assets/fonts/Lora-Regular.ttf);
}

@font-face {
    font-family: Poppins-Regular;
    src: url(assets/fonts/Poppins-Regular.ttf);
}

body{ padding-top: 40px; background-color: #fff; font-family: Poppins-Regular; line-height: normal !important; overflow-x: hidden;}

.menu-top-space{top:40px;}

.logoicon{background-image: url("../src/assets/images/global/logo.png"); height: 32px; width: 215px; }

.lora{font-family: Lora-Regular;}

.poppins{font-family: Poppins-Regular;}

.blue-btn{background: #595AD4;}

.green-btn{background: #00CA72 !important; border-radius: 8px !important; padding: 10px 38px; color: #fff; font-family: Poppins-Regular; font-size: 1.12rem; border: none;}

.white-btn{background: #ffffff !important; border-radius: 8px !important; padding: 10px 70px; color: #333333; font-family: Poppins-Regular; font-size: 1.12rem; border: 2px solid #333333;}

.bg-red{background: #AC395A;}

.bg-green{background: #00CA72;}

.bg-brown{background: #AC5D39; }

.bg-yellow{background: #F7D216;}

.bg-lightorange{background: #FFD166;}

.bg-lightpurple{background: #F8EBFD;}

.bg-blue{background: #595AD4 !important;}

.bg-purple{background: #A239AC;}

.radius-shape{border-radius: 8px;}

.font-black{color: #323338; }

.font-darkblack{color: #333333;}

.font-blue{color: #595AD4; }

.font-green{color: #00CA72;}

.font-orange{color: #FFD166;}

.heading-text{font-size: 3rem; color: #323338; font-weight: bold; font-family: Lora;} /* 40px */

.subheading-text{font-size: 1.5rem;} /* 24px */

.font48{font-size: 3rem;}   /* 48px */

.font40{font-size: 2.5rem;}   /* 40px */

.small-size{font-size: 0.875rem;}   /* 14px */

.font18{font-size: 1.125rem;}   /* 18px */

.font16{font-size: 1rem;}  /* 16px */

.font32{font-size: 2rem}     /* 32px */

.font20{font-size: 1.25;}  /* 20px */

.forword-icon{text-decoration: none;}

.heading_block{width: 600px; margin: 0 auto !important;}

.l-text4{font-style: normal; font-weight: bold; font-size: 32px;}

.starimg{
    left: 0;
    top: -10px;
}
.yellowpatch1{
    right: 80px;
}
.circleimg{
    right: 0;
    top: -20px;
}
.yellowpatch2{
    bottom: 0px;
    left: 130px;
}
.triangleimg{
    bottom: 25px;
    right: 335px;
}


.quotes-img{background-image: url("../src/assets/images/global/quote-1.png"); height: 27px; width: 27px; display: inline-block; vertical-align: top; background-repeat: no-repeat;} 

.quotes-img2{background-image: url("../src/assets/images/global/quote-2.png"); height: 27px; width: 27px; display: inline-block; vertical-align: top; background-repeat: no-repeat; margin-left: 5px;} 

.bullet-point{background-image: url("../src/assets/images/global/bullet-point.png"); height: 24px; width: 24px; display: inline-block; vertical-align: middle;} 

.forword-icon{background-image: url("../src/assets/images/global/forwordIcon.png"); height: 12px; width: 15px; display: inline-block; vertical-align: middle;} 

.yellow-forword-icon{background-image: url("../src/assets/images/global/yellow-forword-arrow.png"); height: 16px; width: 16px; display: inline-block; vertical-align: middle;} 

.green-forword-arrow{background-image: url("../src/assets/images/global/green-forword-arrow.png"); height: 24px; width: 24px; display: inline-block; vertical-align: middle;} 

.green-down-arrow{background-image: url("../src/assets/images/global/green-down-arrow.png"); height: 16px; width: 16px; display: inline-block; vertical-align: middle;} 

.black-down-arrow{background-image: url("../src/assets/images/global/black-drop-arrow.png"); height: 8px; width: 18px; display: inline-block; vertical-align: middle; background-repeat: no-repeat; margin: 0 0 0 2px;} 

a{text-decoration: none !important;}

.custom-radius8{border-radius: 8px;} /* border-radius: 8px; */

.custom-radius16{border-radius: 16px 16px;} /* border-radius: 8px; */

.custom-shadow1{box-shadow: 8px 8px rgba(0, 0, 0, 0.25);}

.bggreen-footer{background-image: url("../src/assets/images/global/blue_footer.png"); background-color: rgba(73, 74, 201, 0.9) !important}

.facebook-icon{background-image: url("../src/assets/images/global/fb.png"); width: 24px; height: 24px; display: block; margin: 0 auto;}

.twitter-icon{background-image: url("../src/assets/images/global/twitter.png"); width: 24px; height: 20px; display: block; margin: 0 auto;}

.li-icon{background-image: url("../src/assets/images/global/ln.png"); width: 24px; height: 24px; display: block; margin: 0 auto;}

.s-icon{background-image: url("../src/assets/images/global/s-icon.png"); width: 22px; height: 22px; display: block; margin: 0 auto;}


.industries .custombg-1{background-image: url("../src/assets/images/industries/image.png"); background-size: cover;}
.industries .custombg-color-1{background-color: #E5EBED;}
.industries .line{background-image: url("../src/assets/images/industries/image-5.png"); background-size: cover; right: 170px; height: 13px; width: 225px; top: 70px;}

@media (max-width: 768px){
    body{display: flex;}
}