<!--Home page -->
<div class="container-fluid ">
    <div class="row p-5 pb-0 bg-white text-center">

        <div class="heading-text mt-5" data-aos="fade-up"data-aos-duration="1000">
            <p class="m-0">Automated Workforce Management Tool Built For Frontline Teams</p>
        </div>

        <div class="col-6 font-black mt-4">
			<div class="subheading-text poppins" data-aos="fade-right"data-aos-duration="1000">
                <p> <span class="quotes-img d-inline-block"></span> Why use multiple platforms when Frontlyne can help you with all the features and functionalities on one single platform?</p>
			</div>
        </div>    

        <div class="col-6 font-black mt-4">
			<div class="subheading-text poppins" data-aos="fade-left"data-aos-duration="1000">
                <p> <span class="quotes-img d-inline-block mr-1"></span>Go paperless and say hello to the new world of digitization</p>
			</div>
        </div>
        
        <div data-aos="fade-up" data-aos-delay="1800" data-aos-duration="1000">
            <button class="mt-4 mr-4 green-btn" routerLink="schedule_a_demo">SCHEDULE A DEMO</button>
            <button class="white-btn" routerLink="talktous">TALK TO US </button>
        </div>

    </div>


    <div class="row bg-white" data-aos="fade-up" data-aos-offset="400" data-aos-duration="1000">
		<div class="col-12">
			<img src="../assets/images/Landing-page/image-1.png" class="img-fluid" alt="image">
		</div>
	</div>


    <div class="row bg-red text-white p-5">
        <div class="col-7 pr-5" data-aos="fade-right" data-aos-offset="550" data-aos-duration="1000">
			<div class="">
				<div class="quotes-img"></div>
                <p class="pb-2 lora font-weight-bold font32">We help Training, L&D and HR teams to become efficient by digitizing and automating processes mentioned below. </p>
			</div>
            
            
			<div class="poppins small-size">
				<p class="m-0"><span class="bullet-point"></span> Career Progression Digitization and Automation </p>
				<p class="m-0 mt-2"><span class="bullet-point"></span> Learning and Training Digitization and Automation </p>
				<p class="m-0 mt-2"><span class="bullet-point"></span> Standard Operating Processes Digitization and Automation </p>
				<p class="m-0 mt-2"><span class="bullet-point"></span> Attendance and Staff Store Scheduling Digitization and Automation </p>
				<p class="m-0 mt-2"><span class="bullet-point"></span> Frequent Performance Evaluation Digitization and Automation </p>
			</div>
				
        </div>

        <div class="col-5 align-self-center" data-aos="fade-up" data-aos-offset="510" data-aos-duration="1000">
            <img src="../assets/images/Landing-page/image-2.png" class="img-fluid" alt="image">
        </div>
    </div>

    <div class="row p-5 bg-1">
        <div class="col-6" data-aos="fade-right" data-aos-offset="600" data-aos-duration="1000">
			<h3 class="font-weight-bold font-black lora font48">Features</h3>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item mb-2">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button font-black rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Automate Career Progression
                        </button>
                    </h2>
        
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="mb-0">Digitise your frontline team member’s career progression plan within a few hours and go digital. No more usage of paper pencil, excel sheets, and multiple applications.</p>
                            <a href="#" class="text-decoration-none small-size poppins font-orange mt-3 mb-3" routerLink="blog"> EXPLORE MORE <span class="yellow-forword-icon"></span></a>
                        </div>
                    </div>
                </div>
        
                <div class="accordion-item mb-2 border-top">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed font-black" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Digitise Learning and Training
                        </button>
                    </h2>
        
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="mb-0"> Use the easiest platform for your frontline team members to create self - learning material and training events within a few clicks. A one-stop solution for all your learning requirements. </p>
                            <a href="#" class="text-decoration-none small-size poppins font-orange mt-3 mb-3" routerLink="blog"> EXPLORE MORE <span class="yellow-forword-icon"></span></a>
                        </div>
                    </div>
                </div>
        
                <div class="accordion-item mb-2 border-top">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed font-black" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Automate Standard Operating Processes
                        </button>
                    </h2>
        
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="mb-0"> Digitise and automate processes of your store within minutes. Trickle down all the process related discussions from the corporate office to stores literally within minutes. </p>
                            <a href="#" class="text-decoration-none small-size poppins font-orange mt-3 mb-3" routerLink="blog"> EXPLORE MORE <span class="yellow-forword-icon"></span></a>
                        </div>
                    </div>
                </div>

                <div class="accordion-item mb-2 border-top">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed font-black" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Store Staff Scheduling and Attendance
                        </button>
                    </h2>
        
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="mb-0"> Help your store managers plan the staff shift schedules on a tool and no more on excel sheets, WhatsApp groups, emails and/or phone calls.</p>
                            <a href="#" class="text-decoration-none small-size poppins font-orange mt-3 mb-3" routerLink="blog"> EXPLORE MORE <span class="yellow-forword-icon"></span></a>
                        </div>
                    </div>
                </div>

                <div class="accordion-item mb-2 border-top">
                    <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed font-black" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Performance Evaluation
                        </button>
                    </h2>
        
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="mb-0"> Digitise the performance evaluation process of your store teams and get an immediate view of the performance and gaps. </p>
                            <a href="#" class="text-decoration-none small-size poppins font-orange mt-3 mb-3" routerLink="blog"> EXPLORE MORE <span class="yellow-forword-icon"></span></a>
                        </div>
                    </div>
                </div>

                <div class="accordion-item mb-3 border-top">
                    <h2 class="accordion-header" id="headingSix">
                        <button class="accordion-button collapsed font-black" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Robust Reports
                        </button>
                    </h2>
        
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p class="mb-0"> Download and schedule reports as per your need to get insights on various elements with regards to performance of your frontline teams.</p>
                            <a href="#" class="text-decoration-none small-size poppins font-orange mt-3 mb-3" routerLink="blog"> EXPLORE MORE <span class="yellow-forword-icon"></span></a>
                        </div>
                    </div>
                </div>

                <a href="#" class="text-decoration-none small-size poppins text-black a-custom" routerLink="">EXPLORE MORE ABOUT THE FEATURES <span class="green-forword-arrow"></span></a>

            </div>
        </div>

        <div class="col-6" data-aos="fade-up" data-aos-offset="650" data-aos-duration="1000">
            <img src="../assets/images/Landing-page/rightimg.png" class="img-fluid" alt="image">
            <div class="p-2 rightbtn">
                <button class="btn btn-secondary text-uppercase pl-4 pr-4 blue-btn small-size">TRY A DEMO</button>
            </div>

        </div>
    </div> 

    <div class="row p-5">
        <div class="col-12 text-center font-black lora font-weight-bold font48" data-aos="zoom-in" data-aos-offset="600" data-aos-delay="1000" data-aos-duration="1000">
            <p class="mb-0">Frontlyne <span class="bg-blue text-white power-word"> Powers</span></p>
            <p>Greatest Companies in the Industry</p>

            <div class="d-inline align-top">
                <img src="../assets/images/Landing-page/image-4.png" class="img-fluid" alt="image">
            </div>
            <div class="d-inline align-top">
                <img src="../assets/images/Landing-page/image-5.png" class="img-fluid" alt="image">
            </div>
            <div class="d-inline align-top">
                <img src="../assets/images/Landing-page/image-6.png" class="img-fluid" alt="image">
            </div>
            <div class="d-inline align-top">
                <img src="../assets/images/Landing-page/image-7.png" class="img-fluid" alt="image">
            </div>
        </div>
    </div>


    <div class="row bg-purple text-white p-5">
        <div class="col-7 d-flex align-content-between  flex-wrap" data-aos="fade-right" data-aos-offset="800" data-aos-duration="1000">
            <p class="font-weight-bold heading-text lora text-white"><span class="mr-2 quotes-img"></span>How to Effectively Manage Your Retail Store Teams?</p>
            
            <div class="border border-0 border-top border-white p-0 pt-2 full-width"> 
                <a href="#" class="text-decoration-none font18 poppins text-white pl-4" routerLink="blog">KNOW MORE <span class="forword-icon"></span></a>
            </div>
        </div>

        <div class="col-5" data-aos="fade-up" data-aos-offset="800" data-aos-duration="1000">
            <img src="../assets/images/Landing-page/image-3.png" class="img-fluid custom-radius8 custom-shadow1" alt="image">
        </div>
    </div>

    

    <div class="row font-black bg-white p-5">
        <div class="col-12" data-aos="fade-up" data-aos-offset="1000" data-aos-duration="1000">
            <div class="d-inline-block mr-5">
                <img src="../assets/images/Landing-page/chat_image.png" class="img-fluid" alt="image">
            </div>
            
            <div class="d-inline-block text-center">
                <h3 class="font-weight-bold lora font48 font-black">Hear it from Industry Experts!</h3>
            </div>
            
            <div class="star-img custom-radius16">
               <div class="gaypatch p-3">
                    <img src="../assets/images/Landing-page/star_desktop.png" class="img-fluid ml-2" alt="image">
                    <img src="../assets/images/Landing-page/star_desktop.png" class="img-fluid ml-2" alt="image">
                    <img src="../assets/images/Landing-page/star_desktop.png" class="img-fluid ml-2" alt="image">
                    <img src="../assets/images/Landing-page/star_desktop.png" class="img-fluid ml-2" alt="image">
                    <img src="../assets/images/Landing-page/star_desktop.png" class="img-fluid ml-2" alt="image">
               </div>

               <div class="d-block p-5 g-image-block" data-aos="zoom-in" data-aos-offset="1000" data-aos-delay="1000" data-aos-duration="1000">
                    <div class="d-inline-block g-block">
                        <img src="../assets/images/Landing-page/g-icon.png" class="img-fluid" alt="image">
                    </div>
                    
                    <div class="d-inline-block g_imagetext_block align-middle pl-5 pr-5">
                        <h6 class="font-weight-bold poppins subheading-text font-black">G2 Crowd -</h6>
                        <p class="mb-0 poppins font-black font18">Frontlyne is very flexible Performance Management tool that can be deployed for the front end staff across any industry. It can map the Career Progression and learning journey of the employees in a very simple manner. It is extremely user friendly too.</p>
                    </div>
                </div>
            </div>

            <div class="circle">
                
            </div>
        </div>
    </div>



    <div class="row pt-5 pl-5 pr-5 pb-2 justify-content-around bg-white">
        <h3 class="lora font-weight-bold font-black text-center font48 mb-3"  data-aos="zoom-in" data-aos-offset="1000" data-aos-duration="1000"> Case Studies </h3>

        <div class="col-4 black-border p-3" data-aos="fade-right" data-aos-offset="1100" data-aos-duration="1000">
            <p class="font-black poppins">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button class="btn btn-default blue-btn text-white small-size poppins custom-radius16">10 min Read</button>
        </div>


        <div class="col-7 p-0 green-border" data-aos="fade-left" data-aos-offset="1100" data-aos-duration="1000">
            <div class="row pl-3 pr-3 pt-3">
                <div class="col-8">
                    <p class="font-black poppins">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <button class="btn btn-default blue-btn text-white small-size poppins custom-radius16">10 min Read</button>
                </div>
                <div class="col-4 minus-margin">
                    <img src="../assets/images/Landing-page/image-8.png" class="img-fluid" alt="image">
                </div>
            </div>
            <button class="full-width-button bg-green">
                <a href="#" class="text-decoration-none font18 poppins text-white">READ MORE <span class="forword-icon"></span></a>
            </button>
        </div>
    </div>

    <div class="row pb-5 justify-content-around bg-white">
        <div class="col-7 p-0 black-border"  data-aos="fade-left" data-aos-offset="1200" data-aos-duration="1000">
            <div class="row pl-3 pr-3 pt-3">
                <div class="col-8">
                    <p class="font-black poppins">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <button class="btn btn-default blue-btn text-white small-size poppins custom-radius16">10 min Read</button>
                </div>
                <div class="col-4">
                    <img src="../assets/images/Landing-page/image-8.png" class="img-fluid" alt="image">
                </div>
            </div>
            
        </div>

        <div class="col-4 black-border p-3"  data-aos="fade-right" data-aos-offset="1200" data-aos-duration="1000">
            <p class="font-black poppins">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button class="btn btn-default blue-btn text-white small-size poppins custom-radius16">10 min Read</button>
        </div>
    </div>

    <div class="row p-5 bggreen-footer">
        <div class="col-6 text-white align-self-center" data-aos="fade-up" data-aos-offset="1200"
        data-aos-duration="1000">
           <p class="lora font32">We would love to help you Digitise Performance Management of your Frontline Teams.</p>
           <button class="white-btn border-0" routerLink="/talktous">TALK TO US </button>
        </div>

        <div class="col-6" data-aos="zoom-in" data-aos-offset="1200" data-aos-delay="800"
        data-aos-duration="1000">
            <img src="../assets/images/Features/image-8.png" class="img-fluid" alt="image">
        </div>
    </div>


</div>

    

    