
.line-height50{line-height: 50px;}
.left-radius{border-radius: 0px 5px 0px 0px;}
.accordion-button{color: #323338;}
.accordion-button:not(.collapsed){background-color: #333333; color: #fff; box-shadow: none; }
.accordion-button::after{background-image: url("../../assets/images/Landing-page/plus.svg"); background-size: 1rem;}
.accordion-button:not(.collapsed)::after{background-image: url("../../assets/images/Landing-page/minus.svg"); background-size: 1rem;}
.accordion-body{background-color: #333333; color: #fff; padding: 0px 10px 10px;}
.customshadow{box-shadow: 5px 5px 0 0 #851c39;}
.accordion-button{padding: 10px;}

.bg-1{background-image: url("../../assets/images/Landing-page/bg-1.png"); background-size: cover;}

/*.quotes-img::before{content: ''; background-image: url("../images/Landing-page/quote-1.png");  position: absolute;}*/

.quotes-img{display: block;}
.forword-icon{text-decoration: none; }


.custom-block{width: 846px; margin: 130px auto; }

.power-word{padding: 1px 3px; border-radius: 5px;}

.star-img{width: 650px; margin: 0 auto; box-shadow: 0px 16px 88px rgba(89, 90, 212, 0.15);}

.gaypatch{background-color: #EBEBFF; border-radius: 16px 16px 0 0;}

.g-block{width: 30%;}

.g_imagetext_block{width: 70%;}

.circle{width: 30px; height: 30px; border: 2px dotted #F2F2F2; border-radius: 50%; position: absolute; right: 30px;}

.black-border{background: #FCFCFC; border: 1px solid #000; border-radius: 20px;}

.green-border{border: 1px solid #00CA72; border-radius: 20px;}

.full-width-button{width: 100%; text-align: left; border: none; border-radius: 0px 0px 20px 20px; padding: 10px;}

.minus-margin{margin-bottom: -10px;}

.full-width{width: 100%;}

.a-custom{color: #323338 !important;}

/*blog page */
.custom-back-color{background-color: #F8F8F8;}
.image-text{ width: 360px; z-index: 1;}
.custom-padding{padding: 0 100px;}
.custom-bg-purple{background-color: #A239AC; padding-top: 10px;}
.number-color{color: #BFBFBF;}