<div class="container-fluid">
    
    <div class="row p-5 pb-0 text-center heading_block">
        <div class="col-12 mt-5 mb-5">
			<div class="heading-text">
				<p class="m-0"> Why <b class="font-blue"> Frontlyne?</b></p>
			</div>
			
			<div class="poppins subheading-text font-black">
				<h6 class="mt-3 mb-3">Because Frontlyne was born out of a need in the industry and it solves your most critical issues with the frontline workforce management. </h6>
			</div>
			
            <button class="green-btn mt-3 mb-5">SCHEDULE A DEMO</button>
        </div>        
    </div>


    <div class="row bg-red p-5">
        <div class="col-12 custom-shadow">
            <div class="d-table bg-gray pt-2 pb-2 pl-3 pr-3 custom-radiustop">
                <div class="d-table-cell align-middle">
                    <p class="mb-0 lora font32 text_block">Frontline Workforce Management plans are successful
                        when data from learning, career progression,
                        sales, rewards and recognition, and SOPs are triangulated together.
                    </p>
                </div>
                <div class="d-table-cell image_block">
                    <img src="../assets/images/WhyFrontlyne/image-1.png" class="img-fluid mt-2 mb-2" alt="image">
                </div>
            </div>
            <div class="bg-lightorange d-table  pt-2 pb-2 pl-3 pr-3 custom-radiusbottom">
                <h3 class="d-table-cell font-blue align-middle font-weight-bold lora font48 p-3">43%</h3>
                <p class="mb-0 d-table-cell poppins font18 text_block">of employees would leave jobs because of 
                    no or extremely low visibility of the career enhancement.
                    No one technology product suits all. Hence, we have built 
                    Frontlyne to be highly applicable for businesses having frontline employees.
                </p>
            </div>
        </div>
    </div>

    <div class="row justify-content-between p-5">
        <h3 class="lora font48 font-weight-bold font-black">No matter what your role is, we got you covered!</h3>
        
        <div class="col-12">
            <div class="d-flex">
                <div class="width30 p-3">
                    <img src="../assets/images/WhyFrontlyne/image-2.png" class="img-fluid" alt="image">
                    <p class="poppins image-title">Human Resources Team</p>
                    <p class="poppins image-description">(Training, L&D and HR)</p>
                    <p class="poppins image-description">We help you with a one stop solution. No more hassle.</p>
                </div>
    
                <div class="width30 p-3">
                    <img src="../assets/images/WhyFrontlyne/image-3.png" class="img-fluid" alt="image">
                    <p class="poppins image-title">Operations Team</p>
                    <p class="poppins image-description">We help you with a solution to track your operation compliances in your business.</p>
                </div>
    
                <div class="width30 p-3">
                    <img src="../assets/images/WhyFrontlyne/image-4.png" class="img-fluid" alt="image">
                    <p class="poppins image-title">Sales Team</p>
                    <p class="poppins image-description">We help you boost your sales numbers by making sales number available on one single dashboard and also assign sales targets.</p>
                </div>
            </div>

            <div class="d-flex mt-4">
                <div class="width30 p-3">
                    <img src="../assets/images/WhyFrontlyne/image-4.png" class="img-fluid" alt="image">
                    <p class="poppins image-title">Human Resources Team</p>
                    <p class="poppins image-description">(Training, L&D and HR)</p>
                    <p class="poppins image-description">We help you with a one stop solution. No more hassle.</p>
                </div>
    
                <div class="width30 p-3">
                    <img src="../assets/images/WhyFrontlyne/image-5.png" class="img-fluid" alt="image">
                    <p class="poppins image-title">Operations Team</p>
                    <p class="poppins image-description">We help you with a solution to track your operation compliances inyour buisness.</p>
                </div>
    
                <div class="width30 p-3">
                    <img src="../assets/images/WhyFrontlyne/image-6.png" class="img-fluid" alt="image">
                    <p class="poppins image-title">Sales Team</p>
                    <p class="poppins image-description">We help you boost your sales numbers by making sales number available on one single dashboard and also assign sales targets.</p>
                </div>
            </div>
            
        </div>
        
    </div>

    <div class="row bg-purple p-5">
        <div class="col-4">
            <img src="../assets/images/WhyFrontlyne/image-5.png" class="img-fluid" alt="image">
        </div>

        <div class="col-8 align-self-center text-white subheading-text">
            <p class="lora">Everything that you need to know about Customization</p>
            <p class="mb-0 poppins">Frontlyne can be customized as per your exact need. Our inhouse services team can customize Frontlyne to your needs and help you succeed in your role.</p>
        </div>
    </div>

    <div class="row bg-white p-5">
        <div class="col-8 align-self-center font-darkblack">
            <p class="lora subheading-text font-weight-bold">Frontlyne team is not built by just technology experts.</p>
            <p class="mb-0 poppins font24">Our team has an interesting mix of learning technology experts, trainers and industry experts who have experience working with the frontline teams.</p>
            <p class="poppins font-blue mt-3">We are different in good ways.</p>
        </div>
        <div class="col-4">
            <img src="../assets/images/WhyFrontlyne/image-6.png" class="img-fluid" alt="image">
        </div>
    </div>
    

    <div class="row bg-blue p-5">
        <div class="col-8 align-self-center text-white">
            <p class="lora subheading-text font-weight-bold">Data Privacy!</p>
            <p class="mb-0 poppins font24">From day 1, we have built Frontlyne with a strong focus on data security and we use the best cloud service out there to secure your data. </p>
            <p class="mb-0 poppins font24">With multiple testing tools, Frontlyne can be your #1 trusted solution.</p>
        </div>
        <div class="col-4">
            <img src="../assets/images/WhyFrontlyne/image-7.png" class="img-fluid" alt="image">
        </div>
    </div>

    <div class="row bg-white p-5">
        <div class="col-4">
            <img src="../assets/images/WhyFrontlyne/image-8.png" class="img-fluid" alt="image">
        </div>

        <div class="col-8 align-self-center font-darkblack subheading-text">
            <p class="lora">Training, Support, Hand-holding.</p>
            <p class="mb-0 poppins">We believe in co-working with you to be successful in your role. We are just an email or a phone call away to help you resolve any issue you may have. We believe the success of Frontlyne depends on the best usage of its capability, hence we have a selfish motive to do this better.</p>
        </div>
    </div>

    <div class="row bg-white p-5 bg-footer">
        <div class="col-12 text-center">
            <h3 class="mb-3 font32 font-weight-bold">Ready to Digitize?</h3>
            <button class="green-btn" routerLink="/talktous">TALK TO AN EXPERT</button>
        </div>
    </div>
</div>