.text_block{color: #1E1E1E;}
.bg-gray{background-color: #F8F8F8;}
.image_block{width: 35%;}
.image-title{font-size: 1.2rem; color: #333333; margin: 10px 0px;}
.image-description{font-size: 0.9rem; color: #4F4F4F;}
.custom-shadow{border-radius: 24px; box-shadow: 5px 5px #851C39; padding-right: 0px !important;}
.custom-radiustop{border-radius: 24px 24px 0px 0px;}
.custom-radiusbottom{border-radius: 0px 0px 24px 24px;}
.width30{width: 30%; margin: 0 15px; border: 2px solid #333333; border-radius: 16px; box-shadow: 5px 5px #333333;}
.bg-footer{background-image: url("../../assets/images/WhyFrontlyne/footer.png"); background-color: rgba(255, 197,63,0.8) !important}